<ListView *ngIf="showList" width="100%" height="100%" margin="10 20 20 20" paddingLeft="30" separatorColor="transparent"
    backgroundColor="black" (swipe)="dismissKeyboard()" (tap)="dismissKeyboard()" [items]="areas" [itemTemplateSelector]="templateSelector"
    (itemLoading)="listViewItemLoading($event)">

    <ng-template let-item="item" let-i="index" nsTemplateKey="AREA">
        <GridLayout width="100%" rows="*" columns="auto, *" class="p-t-5 p-b-5 area-list-item" (tap)="onTapItem(item)">

            <Image row="0" col="0" width="32" height="32">
            </Image>
            <StackLayout orientation="vertical" row="0" col="1" marginRight="20">
                <Label marginTop="5" marginBottom="15" verticalAlignment="center">
                        <FormattedString>
                            <Span
                                fontSize = "13"
                                [text]= "item.name || 'Around Me' ">
                            </Span>
                        </FormattedString>
                </Label>
                <StacKLayout borderWidth="0.5" borderColor="transparent transparent #4f4f4f transparent">
                </StacKLayout>
            </StackLayout>
        </GridLayout>
    </ng-template>
</ListView>
