<GridLayout *ngIf="history.mode === 'list'" rows="auto, *" columns="*" width="100%" height="100%" class="history-container">

    <GridLayout row="0" column="0" width="100%" height="auto" rows="auto" columns="70px, *, 70px" orientation="horizontal" [gradient]="[127,0,0,0]"
        [endColor]="[0,0,0,0]">

        <Button row="0" col="0" text="&#xE5C4;" class="gi btn-sm btn-black top-menu" (tap)="back()">
        </Button>


        <StackLayout width="100%" row="0" col="1" class="top-label  bold  text-center top-menu" verticalAlignment="center" horizontalAlignment="center">
            <Label marginLeft="15px" marginRight="15px" [text]="title"></Label>
        </StackLayout>

        <Button row="0" col="2" text="&#xE55B;" class="gi btn-black btn-sm top-menu" (tap)="onExpand.next(isCurrentUser); history.mode = 'map'">
        </Button>
    </GridLayout>
    <ListView id="history-list" width="100%" height="100%" row="1" separatorColor="transparent" class="history-container" [items]="visits"
        [itemTemplateSelector]="templateSelector" (loaded)="onListViewLoaded($event)">
        <ng-template let-item="item" let-i="index" nsTemplateKey="HISTORY">
            <StackLayout (tap)="visitId = null; goToEstablishment(item)" class="visit-container">

                <Label class="visit-moment" marginTop="10px">
                    <FormattedString>
                        <Span [text]="item.entry | dateFormat: 'MMM DD h:mm a'" fontAttributes="Bold"></Span>
                        <Span [text]=" item.exit ? '(stayed ' : '( ' "></Span>
                        <Span [text]="item.entry | timeDiference: item.exit" fontAttributes="Bold"></Span>
                        <Span text=")"></Span>
                    </FormattedString>
                </Label>

                <GridLayout rows="*" columns="60px, *, 60px, 60px" class="visit-card" [ngClass]="{'selected-visit': (visitId == item.id)}"
                    marginBottom="20px">
                    <StackLayout col="0" row="0" verticalAlignment="center" ; class="clear-padding m-lr-20 category-icon ">
                        <Image stretch="fill" verticalAlignment="center" ; [src]="item.location.establishment | category: 'url'">
                        </Image>
                    </StackLayout>

                    <!--<StackLayout
                        row="0"
                        col="1"
                        colSpan="2"
                        verticalAlignment = "center"
                        horizontalAlignment = "left"
                        width="auto"
                        marginRight="5"
                        [ngStyle]="{ opacity: item.validity === 100 ? 1 : 0.5 }">
                      <Label
                          width      = "auto"
                          class      = "bold"
                          [text]     = "item.location.establishment.name+' blblablablalgalbalballgalblalbabalb'">
                      </Label>
                      <Label
                          *ngIf     = "isCurrentUser"
                          width      = "auto"
                          [ngStyle]   = "{ color: item.validity === 100 ? '#307add' : 'black' }"
                          [text]     = "item.validity === 100 ? item.exit ? 'You had been here' : 'You are here' : 'Were you there?'">
                      </Label>
                    </StackLayout>-->

                    <GridLayout row="0" col="1" rows="*,*" verticalAlignment="center" marginRight="5" [ngStyle]="{ opacity: item.validity === 100 ? 1 : 0.5 }">
                        <Label row="0" width="auto" class="bold" [text]="item.location.establishment.name">
                        </Label>
                        <Label row="1" *ngIf="isCurrentUser" width="auto" [ngStyle]="{ color: item.validity === 100 ? '#307add' : 'black' }" [text]="item.validity === 100 ? item.exit ? 'You had been here' : 'You are here' : item.exit ? 'Were you there?' : 'Are you here?'">
                        </Label>
                    </GridLayout>

                    <Button *ngIf="isCurrentUser" row="0" col="2" text="&#xE5CA;" class="gi btn-sm btn-black" [isEnabled]="item.validity < 100"
                        [ngClass]="{'btn-black': item.validity < 100, 'confirm-btn': item.validity < 100, 'been-here': item.validity === 100 }"
                        (tap)="visitId = null; item.validity = 100; onConfirm.next(item)">
                    </Button>

                    <Button *ngIf="isCurrentUser" row="0" col="3" text="&#xE5CD;" class="gi btn-sm btn-black confirm-btn" (tap)="visitId = null; onReject.next(item)">
                    </Button>

                    <Label *ngIf="!isCurrentUser" row="0" col="2">
                    </Label>

                    <Label *ngIf="!isCurrentUser" row="0" col="3">
                    </Label>

                </GridLayout>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>

<AbsoluteLayout *ngIf="history.mode === 'map'" verticalAlignment="top">
    <GridLayout top="0" left="0" width="100%" height="100px" rows="auto" columns="70px, *, 70px" marginTop="10px" orientation="horizontal">

        <Button row="0" col="0" text="&#xE5C4;" class="gi btn-black btn-sm" (tap)="back()">
        </Button>

        <GridLayout columns="*" rows="*" row="0" col="1" class="top-label">
            <Label row="0" column="0" class="text-center bold color-white" textWrap="true" verticalAlignment="middle" horizontalAlignment="center"
                [text]="title">
            </Label>
        </GridLayout>

        <Button *ngIf="current.visit" row="0" col="2" text="&#xE896;" class="gi btn-black btn-sm" (tap)="history.mode = 'list'">
        </Button>
    </GridLayout>
</AbsoluteLayout>