<GridLayout
    rows    = "auto, *, auto"
    columns = "*">
    <GridLayout
        rows      = "auto"
        marginTop = "5px"
        columns   = "70px, *">
        <Button
            text  = "&#xf00d;"
            class = "fa btn btn-black btn-small"
            row   = "0"
            (tap) = "close()">
        </Button>
    </GridLayout>
    <Image
        stretch = "aspectFit"
        row     = "1"
        (swipe) = "onSwipe($event)"
        [src]   = "establishment | establishmentUrl: 'normal': selectedIndex">
    </Image>
    <StackLayout
        class = "m-b-20 m-t-30"
        row   = "2">
        <ScrollView
            orientation = "horizontal"
            (loaded)    = "onScrollLoaded($event)">
            <StackLayout
                orientation = "horizontal">
                    <Image
                        *ngFor    = "let photo of establishment.photos; let i = index"
                        col       = "0"
                        stretch   = "fill"
                        row       = "0"
                        width     = "90px"
                        height    = "90px"
                        class     = "list-img m-r-10 m-l-10"
                        [ngClass] = "{selected: selectedIndex == i}"
                        [src]     = "establishment | establishmentUrl: 'normal': i"
                        (tap)     = "onSelectImage(i)">
                    </Image>
            </StackLayout>
        </ScrollView>
    </StackLayout>
</GridLayout>