<StackLayout width="100%" verticalAlignment="top">

    <StackLayout *ngIf="custom" [visibility]="show ? 'visible' : 'collapsed'" id="{{'custom-'+ name}}" width="100%" class="notification-container"
        [gradient]="'#EF0792'" [endColor]="'#EF074A'">
        <ng-content></ng-content>
    </StackLayout>

    <StackLayout *ngIf="!custom" width="100%" id="{{'app-notification-'+ name}}" class="notification-container" orientation="horizontal"
        [gradient]="'#EF0792'" [endColor]="'#EF074A'" [visibility]="show ? 'visible' : 'collapsed'">
        <Button *ngIf="notification" class="gi notification-btn" verticalAlignment="center" horizontalAlignment="center" [text]="notification.status ? '&#xE5CA;' : '&#xE14C;'">
        </Button>
        <Label *ngIf="notification" class="notification-text" textWrap="true" verticalAlignment="center" horizontalAlignment="left"
            [text]="notification.text">
        </Label>
    </StackLayout>

    <!-- [gradient]="'#EF0792'" [endColor]="'#EF074A'" -->
    <StackLayout width="96%" id="{{'push-notification-'+ name}}" class="notification-container main-container" backgroundColor="black" opacity="0.7" [visibility]="showPush ? 'visible' : 'collapsed'">

        <StackLayout *ngIf="pushNotification && (pushNotification.type == 'FRIEND_REQUEST' || pushNotification.type == 'FRIEND_RESPONSE')"
            orientation="horizontal">
            <StackLayout orientation="horizontal" (tap)="goToNotification($event)">
                <Image class="fa notification-btn" verticalAlignment="center" horizontalAlignment="center" [src]="pushNotification.instance.account?.photo?.path">
                </Image>
                <StackLayout class="notification-text" verticalAlignment="center" horizontalAlignment="left" orientation="horizontal">
                    <Label class="notification-title" [text]="pushNotification.body">
                    </Label>
                    <Label text=" " ></Label>
                    <Label [text]="pushNotification.instance.updatedAt | dateFormat: 'fromNow'">
                    </Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>

        <StackLayout *ngIf="pushNotification && pushNotification.type == 'VISIT'">
            <StackLayout orientation="horizontal" (tap)="goToCheckInSelf($event)">
                <Image class="fa notification-btn" verticalAlignment="center" horizontalAlignment="center" [src]="pushNotification.instance.account?.photo?.path">
                </Image>
                <StackLayout class="notification-text" verticalAlignment="center" horizontalAlignment="left" orientation="horizontal">
                    <Label class="notification-title" [text]="pushNotification.body">
                    </Label>
                    <Label text=" " ></Label>
                    <Label [text]="pushNotification.instance.updatedAt | dateFormat: 'fromNow'">
                    </Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>

        <StackLayout *ngIf="pushNotification && (pushNotification.type == 'CHECK'|| pushNotification.type == 'FRIEND_VISIT')">
            <StackLayout orientation="horizontal" (tap)="goToCheckInFollowing($event)">
                <Image class="fa notification-btn" verticalAlignment="center" horizontalAlignment="center" [src]="pushNotification.instance.account?.photo?.path">
                </Image>
                <StackLayout class="notification-text" verticalAlignment="center" horizontalAlignment="left" orientation="horizontal">
                    <Label class="notification-title" [text]="pushNotification.body">
                    </Label>
                    <Label text=" " ></Label>
                    <Label [text]="pushNotification.instance.updatedAt | dateFormat: 'fromNow'">
                    </Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>

        <StackLayout *ngIf="pushNotification && (pushNotification.type == 'COMMENT' || pushNotification.type == 'LIKE')">
            <StackLayout orientation="horizontal" (tap)="goToComment(pushNotification.instance.visitId)">
                <Image class="fa notification-btn" verticalAlignment="center" horizontalAlignment="center" [src]="pushNotification.instance.account?.photo?.path">
                </Image>
                <StackLayout class="notification-text" verticalAlignment="center" horizontalAlignment="left" orientation="horizontal">
                    <Label class="notification-title" [text]="pushNotification.body">
                    </Label>
                    <Label text=" " ></Label>
                    <Label [text]=" pushNotification.instance.updatedAt | dateFormat: 'fromNow'">
                    </Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>

        <!-- <StackLayout *ngIf="pushNotification && (pushNotification.type == 'ESTABLISHMENT_SHARE' || pushNotification.type == 'FRIEND_VISIT'|| pushNotification.type == 'VISIT')">
            <StackLayout orientation="horizontal">
                <Image class="fa notification-btn" verticalAlignment="center" horizontalAlignment="center" [src]="pushNotification.instance.account?.photo?.path">
                </Image>
                <StackLayout class="notification-text" verticalAlignment="center" horizontalAlignment="left">
                    <Label class="notification-title" [text]="pushNotification.body">
                    </Label>
                    <Label [text]="pushNotification.instance.updatedAt | dateFormat: 'fromNow'">
                    </Label>
                </StackLayout>
            </StackLayout>

            <StackLayout orientation="horizontal" horizontalAlignment="center">
                <Button width="40%" class="friend-visit-btn" text="View" (tap)="goToEstablishment(pushNotification.instance.establishmentId)">
                </Button>
                <Button width="40%" class="friend-visit-btn" text="Dismiss" (tap)="dismissPushNotification()">
                </Button>
            </StackLayout>
        </StackLayout> -->

    </StackLayout>

</StackLayout>