.friend-visit-btn {
    background-color: transparent;
    border-color: white;
    border-width: 1px;
    border-radius: 6px;
    height: 40px;
    margin: 10px;
    color: white;
    text-transform: capitalize;
}
.main-container{
    color: white;
}