<StackLayout class="page" orientation="horizontal">
	<StackLayout class="list-group">
		<StackLayout class="list-group-item" orientation="horizontal">

			<StackLayout *ngIf="isLive" orientation="horizontal">
				<Image [src]="data.account.photo.path" class="img-circle img" borderColor="#ff0086" verticalAlignment="top" borderWidth="1"></Image>
			</StackLayout>

			<StackLayout *ngIf="!isLive" orientation="horizontal">
				<Image [src]="data.account.photo.path" class="img-circle img" verticalAlignment="top"></Image>
			</StackLayout>

			<StackLayout borderWidth="0.5" borderColor="transparent transparent #4f4f4f transparent">
				<GridLayout rows="auto" columns="*, auto">
					<!-- for non-visited -->
					<StackLayout *ngIf="data.validity !== 100" orientation="horizontal" row="0" col="0">
						<Label text="You were at " color="#737373" fontSize="15;"></Label>
						<Label [text]="data.location.establishment.name" (tap)="moveToEstablishment(data.location.establishment.id)" fontSize="15;"
						 color="white"></Label>
					</StackLayout>
					<!-- for visited -->
					<StackLayout *ngIf="data.validity === 100" orientation="horizontal" row="0" col="0">
						<StackLayout *ngIf="self" orientation="horizontal">
							<Label text="You were at " color="#737373" fontSize="15"></Label>
							<Label [text]="data.location.establishment.name" fontSize="15" color="white" (tap)="moveToEstablishment(data.location.establishment.id)"></Label>
						</StackLayout>
						<StackLayout *ngIf="!self" orientation="horizontal">
							<Label [text]="'@'+data.account.displayName" fontSize="15;" color="#648296" (tap)="getAccountDetail()"></Label>
							<Label text=" was  at " color="#737373" fontSize="15"></Label>
							<Label [text]="data.location.establishment.name" fontSize="15" color="white" (tap)="moveToEstablishment(data.location.establishment.id)"></Label>
						</StackLayout>
					</StackLayout>

					<StackLayout row="0" col="1" horizontalAlignment="right">
						<StackLayout *ngIf="self"  [visibility]="isMore ? 'visible' : 'collapsed'" (tap)="more(data.id)">
							<Label *ngIf="data.validity === 100" text="&#xE5D3;" horizontalAlignment="right" fontSize="16" color="white" class="gi" height="20"></Label>
						</StackLayout>
					</StackLayout>
				</GridLayout>

				<!-- for non-visited -->
				<StackLayout [visibility]="data.validity !== 100 ? 'visible' : 'collapsed'">
					<Label [text]="'+' + data.points + ' pts'" color="#737373" fontSize="13" marginTop="8"></Label>
				</StackLayout>
				<!-- for visited -->
				<StackLayout [visibility]="data.validity === 100 ? 'visible' : 'collapsed'">
					<Label [text]="addressLine + ', '+ (data.location.geoLocation.coordinates | distanceFromMe | formatDistance: currentUser)"
					 class="distance"></Label>
				</StackLayout>
				<StackLayout *ngIf="data.validity === 100 && data.comments.length">
					<Label [text]="data.comments[0].comment" class="description"></Label>
				</StackLayout>

				<!-- for non-visited -->
				<GridLayout *ngIf="data.validity !== 100" class="item1" rows="*" columns="50, 50, *" marginTop="10" marginBottom="10">
					<Label text="&#xE5CA;" class="gi" col="0" fontSize="20" color="white" (tap)="onConfirmCheckInTap()"></Label>
					<Label text="&#xE14C;" class="gi" col="1" fontSize="20" color="white" (tap)="onWrongCheckInTap()"></Label>
					<Label *ngIf="data.isLive" text="LIVE" col="2" fontSize="10" color="#ff0784" horizontalAlignment="right"></Label>
					<Label *ngIf="!data.isLive" class="fs-10" col="2" fontSize="10" color="#737373" verticalAlignment="bottom" horizontalAlignment="right"
					 [text]="data.createdAt | dateFormat: 'fromNow'"></Label>
				</GridLayout>

				<!-- for visited -->
				<GridLayout *ngIf="data.validity === 100" rows="auto" columns="50, 50, auto, *" marginTop="10" marginBottom="10">

					<StackLayout orientation="horizontal" col="0" (tap)="onLikeTap($event)" height="20" >
						<Label [text]="likeIconTxt" fontSize="14" [color]="likeIconColor" class="fa"></Label>
						<Label [visibility]="this.likeCountDisplay !== 0 ? 'visible':'hidden'" [text]="likeCountDisplay" class="count-number"></Label>
					</StackLayout>

					<StackLayout orientation="horizontal" col="1" (tap)="onCommentTap($event)" height="20" >
						<Label *ngIf="!commentCount" text="&#xf0e5;" class="fa" class="fa" fontSize="14" color="#737373"></Label>
						<StackLayout *ngIf="commentCount" orientation="horizontal">
							<Label text="&#xf0e5;" class="fa" class="fa" fontSize="14" color="#648296"></Label>
							<Label [text]="commentCount" class="count-number"></Label>
						</StackLayout>
					</StackLayout>

					<StackLayout *ngIf="self" col="2">
						<StackLayout *ngIf="data.visible === 0" orientation="horizontal">
							<Label text="&#xE7FF;" class="gi" fontSize="15" color="#648296"></Label>
							<label text="Private" fontSize="14" color="#648296" marginLeft="2"></label>
						</StackLayout>
						<StackLayout *ngIf="data.visible === 1" orientation="horizontal">
							<Label text="&#xE7EF;" class="gi" fontSize="15" color="#648296" marginLeft="2"></Label>
							<label text="Mutual" fontSize="14" color="#648296" marginLeft="2"></label>
						</StackLayout>
						<StackLayout *ngIf="data.visible === 2" orientation="horizontal">
							<Label text="&#xE80B;" class="gi" fontSize="15" color="#648296" marginLeft="2"></Label>
							<label text="Public" fontSize="14" color="#648296" marginLeft="2"></label>
						</StackLayout>
					</StackLayout>

					<StackLayout col="3">
						<Label *ngIf="!isLive" class="fs-10" fontSize="10" color="#737373" verticalAlignment="bottom" horizontalAlignment="right"
						 [text]="data.createdAt | dateFormat: 'fromNow'"></Label>
						<Label *ngIf="isLive" text="LIVE" fontSize="10" color="#ff0086" horizontalAlignment="right" verticalAlignment="bottom"></Label>
					</StackLayout>

				</GridLayout>
			</StackLayout>
		</StackLayout>
	</StackLayout>
</StackLayout>