.page {
    background-color: black;
}
.page:pressed{background-color: #000;}

.post-list {
    margin: 0;
}

.posts {
    height: 150;
}
.list-group{margin:0 0 0 0;padding:0 0 0 0;}
.list-group-item{margin:5 10 5 10;padding:0 0 0 0}

.distance {
    color: #737373;
    margin-top: 8;
    font-size: 13;
    white-space: normal;
}

.description {
    font-size: 14;
    color: white;
    margin-top: 15;
    white-space: normal;
}

.count-number{
    font-size: 10;
    margin-left: 10;
    color: #737373;
}

.img{
height: 42.78;
width: 42.78;
margin-right: 19.72;
}
