.btn-border {
    width:70%;
    font-size: 13;
    background-color: rgba(60,81,147,0.75);
    border-radius: 10;
    margin: 12px 0px;
    color: white;
    padding: 12;
}

.fb-container {
    animation-name: faceBook;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    margin: 20px 0px 153px;
}

@keyframes faceBook {
    0% { opacity: 0; transform: translateY(-15)}
    100% { opacity: 1; transform: translateY(0)}
}
