<!-- <StackLayout row="3" class="fb-container">
    <Button
        *ngIf  = "!processing"
        width  = "70%"
        text   = "Login"
        class  = "btn-bordered"
        text   = "Login with Facebook"
        (tap)  ="facebookLogin()"></Button> -->
<StackLayout>
    <!--<Button
        *ngIf  = "!processing"
        class  = "btn-border"
        (tap)  ="facebookLogin()">
       <FormattedString>
            <Span text="&#xf09a;" class="font-aws" horizontalAlignment="left"></Span>
            <Span text="Sign up with Facebook" vertical-align="center"></Span>
        </FormattedString>
    </Button>-->
<StackLayout *ngIf="!processing" class ="btn-border" (tap) ="facebookLogin()" orientation="horizontal" width="80%">
            <label text="&#xf09a;" class="font-aws" horizontalAlignment="left" width="7"></label>
            <label text="Sign up with Facebook" vertical-align="center" horizontalAlignment="center" textAlignment="center" width="85%"></label>
</StackLayout>
</StackLayout>
