<WrapLayout *ngIf="current" (pan)="onItemPan($event)" (tap)="onItemTap($event)" class="z-index-10">
    <ng-content>
    </ng-content>
</WrapLayout>

<!--StackLayout
    [width]="'1000px'"
    orientation = "horizontal"
    (pan)       = "onItemPan($event)"
    (tap)       = "onItemTap($event)"
    class       = "z-index-10">
    <Label *ngFor="let item of list" [text] = "item.userData.establishment.name" class="m-15"></Label>
    <CardItemCarousel *ngFor="let item of list" [item] = "item" class="m-15"></CardItemCarousel>
</StackLayout-->

<!--ScrollView orientation="horizontal">
    <StackLayout orientation="horizontal">
            <CardItemCarousel *ngFor="let item of list" [item] = "item" class="m-15" [width]="(pageWidth) + 'px'"></CardItemCarousel>
    </StackLayout>
</ScrollView-->