<WrapLayout width="94%" marginLeft="3%" marginRight="3%" class="img small-border-radius z-index-10" [ngStyle]="{'background-image': item.userData.establishment |  establishmentUrl: 'background-img' }">
    <StackLayout width="100%" class="p-t-10 p-b-10 small-border-radius" orientation="vertical" [gradient]="[20, 0, 0, 0]" [endColor]="[250, 0, 0, 0]"
        [borderRadius]="35">
        <StackLayout *ngIf="item.userData.visit && item.userData.visit.validity < 100" orientation="horizontal" horizontalAlignment="center"
            marginTop="7" marginBottom="7">
            <Button row="0" col="2" text="&#xE5CA;" class="gi btn-sm btn-white test-font-size" (tap)="confirmVisit(item.userData.visit)">
            </Button>

           <Button row="0" col="3" text="&#xE5CD;" marginLeft="20" class="gi btn-sm btn-white test-font-size" (tap)="openRectify(item.userData.visit)">
            </Button>
        </StackLayout>
        <Label class="card-title bold color-white text-center" textWrap="true" [text]="item.userData.establishment.name">
        </Label>
        <Label class="h3 text-center font-weight-bold color-white" [text]="'0'" textWrap="true">
        </Label>
        <Button width="150px" class="btn-bordered share-btn" text="Share" (tap)="shareEstablishment()"></Button>
    </StackLayout>
</WrapLayout>