.ri-btn {
    background: transparent;
    border-color: white;
    border-width: 2px;
    border-radius: 6px;
    color: white;
    width: 75%;
    margin-top: 0px;
}

.ri-btn-container {
    margin-top: 10%;
}

.ri-input {
    margin-bottom: 15px;
}

TextField {
    color: white;
    placeholder-color: white;
    background-color: transparent;
    border-width: 2px;
    border-radius: 6px;
    border-color: white;
}

.ri-container {
    animation-name: reqInv;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    margin: 21px 0px;
}

@keyframes reqInv {
    0% { opacity: 0; transform: translateY(-15)}
    100% { opacity: 1; transform: translateY(0)}
}