<StackLayout row="3" class="ri-container">
    <TextField width="70%" [(ngModel)]="account.firstName" hint="Your name" class="text-center ri-input"></TextField>
    <TextField width="70%" [(ngModel)]="account.email" hint="Your e-mail" class="text-center ri-input"></TextField>
    <Button  width="50%" text="Request Invitation" (tap)="requestInvitation()" class="btn-bordered"></Button>
</StackLayout>