<GridLayout rows="auto, *, 364px" columns="*" width="100%" height="100%" [gradient]="[200,0,0,0]" [endColor]="[50,0,0,0]">

    <GridLayout row="0" column="0" width="100%" height="auto" rows="auto" columns="70px, *, 70px" orientation="horizontal">

        <Label row="0" col="0">
        </Label>


        <StackLayout width="100%" row="0" col="1" class="top-label  bold  text-center top-menu" verticalAlignment="center" horizontalAlignment="center">
            <Label text="My History"></Label>
        </StackLayout>

        <Button row="0" col="2" text="&#xE5CD;" class="gi rounded btn btn-black btn-small  top-menu" (tap)="close()">
        </Button>

    </GridLayout>


    <StackLayout id="rectify-label" row="1" col="0" class="reject-message" horizontalAlignment="center" verticalAlignment="bottom">
        <Label text="Were you in any of these places instead?"></Label>
    </StackLayout>

    <GridLayout row="2" rows="264px, 100px" id="rectify-component" class="rectify-list">
        <StackLayout row="0" column="0">
            <ListView width="100%" height="100%" top="0" left="0" marginTop="10px" class="list-container" [items]="establishments" [itemTemplateSelector]="templateSelector">

                <ng-template let-item="item" let-i="index" nsTemplateKey="RECTIFY">
                    <StackLayout width="100%" orientation="horizontal" (tap)="rectify(item)">
                        <Label width="auto" class="bold" marginLeft="15px" [text]="item.name">
                        </Label>
                        <Label marginLeft="1px" [text]="item.address">
                        </Label>
                    </StackLayout>
                </ng-template>
            </ListView>
        </StackLayout>


        <StackLayout width="100%" height="100%" row="1" col="0" horizontalAlignment="center" verticalAlignment="center" [gradient]="'#EF0792'"
            [endColor]="'#EF074A'">
            <Button width="70%" height="50px" text="Remove from My History" class="btn-bordered" (tap)="reject()"></Button>
        </StackLayout>
    </GridLayout>

</GridLayout>