.reject-message {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    height: 59px;
    padding: 10px;
    border-radius: 10px;
    animation-name: show-message;
    animation-delay: 0s;
    animation-duration: 0.5s;
}

.rectify-list {
    animation-name: show-list;
    animation-delay: 0s;
    animation-duration: 0.5s;
}

.top-menu {
  margin-top: 10px;
  margin-bottom: 10px;
}

@keyframes show-list {
    0% { opacity: 0; transform: translateY(200); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes show-message {
    0% { opacity: 0;  }
    100% { opacity: 1; }
}