<GridLayout
    rows       = "auto, *, auto"
    columns    = "*"
    [gradient] = "'#EF0792'"
    [endColor] = "'#EF074A'">
    <StackLayout
        [visibility]="(account && step == 1) ? 'visible' : 'collapsed'"
        row   = "0"
        col   = "0"
        width="100%"
        class = "title-stack">
        <Label
            text="3"
            class="fi text-center app-title">
        </Label>
        <Label
            *ngIf="account"
            class="text-center setup-text app-subtitle">
            <FormattedString>
                <Span text="Welcome "></Span>
                <Span [text]="account.firstName" fontAttributes="Bold"></Span>
                <Span text="!"></Span>
            </FormattedString>
        </Label>
        <Label
            text="Where are you right now?"
            class="text-center setup-text app-subtitle">
        </Label>
        <Button
            text="Share My Location"
            width="70%"
            class="btn-bordered btn-submit"
            (tap)="currentLocation()">
        </Button>
    </StackLayout>
    <StackLayout
        [visibility]="(step == 2) ? 'visible' : 'collapsed'"
        row   = "0"
        col   = "0"
        width="100%"
        class = "title-stack">
        <Label
            text="5"
            class="fi text-center app-title">
        </Label>
        <Label
            text="Don't miss the fun"
            class="text-center setup-text app-subtitle">
        </Label>
        <Label
            text="when new things come up."
            class="text-center setup-text app-subtitle">
        </Label>
        <Button
            text="Allow Push Notifications"
            width="70%"
            class="btn-bordered btn-submit"
            (tap)="updateAccount()">
        </Button>
    </StackLayout>
    <!--StackLayout
        [visibility]="(step == 3) ? 'visible' : 'collapsed'"
        row   = "0"
        col   = "0"
        width="100%"
        class = "title-stack">
        <Label
            text="4"
            class="fi text-center app-title">
        </Label>
        <Label
            text="Enjoying Heat?"
            class="text-center setup-text app-subtitle">
        </Label>
        <Label
            text="Let others know about it."
            class="text-center setup-text app-subtitle">
        </Label>
        <Button
            text="Rate the App"
            width="70%"
            class="btn-bordered btn-submit"
            (tap)="rateApp()">
        </Button>
    </StackLayout-->
    <StackLayout row="2" class="setup-footer">
        <Button
            text="Skip"
            class="btn-bordered skip-btn"
            (tap)="nextScreen()">
        </Button>
        <Label
            text  = "(we're almost done with the initial setup!)"
            class = "text-center setup-text"></Label>
    </StackLayout>
</GridLayout>