.setup-text {
    color: white;
}

.title-stack {
    margin-top: 25%;
    margin-bottom: 20px;
    animation-name: section-animation;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.app-title {
    font-size: 65px;
    color: white;
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}
.app-subtitle {
    font-size: 18px;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.setup-footer {
    font-size: 13px;
    margin-bottom: 40px;
}

.btn-submit {
    margin-top: 40px;
    font-size: 16px;
    height: 43px;
}

.skip-btn {
    width: 120px;
    height: 43px;
    font-size: 16px;
}


@keyframes section-animation {
    0% { opacity: 0; transform: translateY(-30)}
    100% { opacity: 1; transform: translateY(0)}
}