.share-container {
    background-color: rgba(0, 0, 0, .7);
    z-index: 150;
}

.search-input {
    color: #fff;
    placeholder-color: #fff;
    border-width: 0px;
    text-align: left;
    border: none;
    font-size: 15px;
}

.buttons-section {
    background-color: #EF0792;
    animation-name: share-buttons-animation;
    animation-delay: 0s;
    animation-duration: .8s;
    animation-timing-function: ease-out;
}

.user-list {
    margin: 0 10px;
    width: 20%;
    color: white;
}

.share-friend-img {
    width: 60px;
    height: 60px;
    border-radius: 29px;
    margin: 10px;
}

.share-friends-btn {
    text-transform: capitalize;
    background: transparent;
    border-color: white;
    font-size: 15px;
    border-width: 2px;
    border-radius: 6px;
    color: white;
    width: 45%;
    height: 40px;
    margin: 10% 5px;
    text-overflow: ellipsis;
    padding: 0 10
}

.no-results {
    color: white;
    margin: 20px 0;
}

.section-title {
    background-color: rgba(200,200,200, .6);
    color: white;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}

.load-more-btn {
    text-transform: capitalize;
    background-color: #EF0792;
    color: white;
    border-radius: 20px;
    height: 40px;
    padding: 0px 5px;
}

.section-title > Label {
    margin-right: 20px;
}

.search-icon {
    margin-left: 10px;
}

.share-header {
    margin: 0 10px;
}

@keyframes share-buttons-animation {
    0% { opacity: 0; transform: translateY(30)}
    100% { opacity: 1; transform: translateY(0)}
}