.center-graph {
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    width: 90%;
    margin-right: 5%;
}

.img-circle-one {
    height: 50;
    width: 50;
    border-radius: 25;
}

.img-circle-two {
    height: 40;
    width: 40;
    border-radius: 20;
}

.img-circle-three {
    height: 30;
    width: 30;
    border-radius: 15;
}
