.est-detail-layout-space {
  margin-top: 50%;
}

.black-layout-top-space {
  margin-top: 50%;
}

.img-circle-one {
    height: 110px;
    width: 110px;
    border-radius: 55px;
}

.img-circle-two {
    height: 90px;
    width: 90px;
    border-radius: 45px;
}

.img-circle-three {
    height: 70px;
    width: 70px;
    border-radius: 35px;
}

.img-circle-two-space {
    left: 35;
    top: 5;
}

.img-circle-three-space {
    left: 65;
    top: 10;
}

.border-pink {
    border-width: 2.5px;
    border-color: #FF0784;
}
.border-gray {
    border-width: 2.5px;
    border-color: #737373;
}

.name {
    margin: 5px 10px;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
}

.open-until {
    background-color: #D8D8D8;
    border-radius: 10px;
    padding: 10px;
}

.share-btn {
    border-width: 3px;
    border-color: #fff;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-circle {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    border-width: 2px;
    margin-left: 10px;
    margin-right: 10px;
    border-color: #fff;
}

.green-color {
    color: green;
}

.account-images {
    height: 50px;
}

.info-container {
    background-color: rgba(255, 255, 255, 0.85);
    margin-bottom: 15px;
    border-radius: 10px;
}

.address {
    margin-bottom: 10px;
}

.category-icon {
    width: 40;
    height: 40px;
    padding: 8px;
    border-radius: 20px;
    border-width: 2px;
    border-color: #fff;
    background-color: #FF0796;
}

.data {
    font-size: 15px;
}

.info-label {
    border-width: 0 0 1 0;
    border-color: #ccc;
    text-align: center;
}

.title {
    font-size: 16px;
}

.graph-description {
    font-size: 20px;
}

#scroll-view {
    transform: translateY(2000);
}

.image-item {
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.cost {
    background-color: #72E500;
    border-radius: 7.5px;
}

.graph-gray {
    background-color: #C9C1D1;
    border-radius: 7.5px;
}

.bg-pink {
    background-color: #FF0093;
    border-radius: 7.5px;
}

.men {
    background-color: #0450E3;
    border-radius: 7.5px;
}

.color-blue {
    color: #0450E3;
}

.color-pink {
    color: #FF0093;
}

.color-purple {
    color: #9B5CD7;
}

.color-dark-blue {
    color: #230045;
}

.graph {
    background-color: transparent;
}

.selected {
    background-color: #000;
    color: #fff;
}

.day {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    vertical-align: center;
}

.time-label {
    background-color: #000;
    color: #fff;
    width: 60px;
    padding: 7px;
    border-radius: 6px;
    margin-left: 30px;
}
#main-container {
    animation-name: fadeIn;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;

}

.icon {
    font-size: 40px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.m-b-m9 {
    margin-bottom: -9px;
}

.mt-65 {
    margin-top: 65px;
}

.m-t-18 {
    margin-top: 18
}

.pt-65 {
    padding-top: 65px;
}

.mr-25 {
    margin-right: 25px;
}

.ml-50{
    margin-left: 45%;
}
