<AbsoluteLayout backgroundColor="black">


    <StackLayout orientation="vertical" top="0" width="100%" height="100%" backgroundColor="black">
        <!-- <ActionBar title="" backgroundColor="black" visibility="collapsed"></ActionBar> -->
        <GridLayout width="100%" height="100%" rows="*, *" columns="*" orientation="horizontal" backgroundColor="black">

            <!-- Gradient -->
            <GridLayout (swipe)="onSwipe($event)" rows="*" width="100%" height="100%" [ngStyle]="{'background-size': 'cover', 'background-image': _establishment | establishmentUrl: 'background-img'}">
                <Gradient width="100%" height="100%" horizontalAlignment="center" direction="to bottom" colors="rgba(0,0,0,255), rgba(0,0,0,255), #000000"></Gradient>
            </GridLayout>

            <StackLayout row="1" column="0" id="main-container" backgroundColor="#000000" class="establishment-details">
                <AbsoluteLayout [visibility]="isDataLoaded ? 'visible' : 'collapsed'">
                    <!--...ESTABLISHMENT DETAILS......START.... -->
                    <StackLayout orientation="vertical" class="" left="0" height="100%" width="100%">

                        <Label [text]="_establishment.name" class="grotesque-bold bold p-l-15 p-r-15 text-center color-white" fontSize="21" textWrap="false"
                            verticalAlignment="middle" horizontalAlignment="center" marginTop="30">
                        </Label>

                        <Label [text]="_establishment.address" color="#648296" fontSize="13" marginTop="2" horizontalAlignment="center" class="h3 p-l-15 p-r-15 text-center address"
                            textWrap="true">
                        </Label>

                        <Label [text]="_establishment | category" fontSize="14" horizontalAlignment="center" verticalAlignment="middle" class="m-t-18 color-white"
                            textWrap="true">
                        </Label>

                        <Label [text]="_establishment | priceRange" fontSize="14" class="color-white" marginTop="2" horizontalAlignment="center"
                            verticalAlignment="middle" textWrap="true">
                        </Label>

                        <StackLayout class="m-t-25" left="0" height="0.5%" width="13%" horizontalAlignment="center" backgroundColor="#648296">
                        </StackLayout>

                        <GridLayout rows="auto" class="m-t-20" color="#FFFAFA" columns="*, *, *">
                            <StackLayout orientation="vertical" col="0" (tap)="onTapForUserList('Visited')">
                                <Label text="Visited" fontSize="13" horizontalAlignment="center" verticalAlignment="middle" textWrap="true">
                                </Label>
                                <AbsoluteLayout horizontalAlignment="center" verticalAlignment="middle" class="m-t-15">
                                    <Image *ngIf="visits.length > 2" class="border-gray img-circle-three img-circle-three-space" stretch="aspectFill" backgroundPosition="left top"
                                        [src]="visits[2].account | accountUrl : 'normal'">
                                    </Image>
                                    <Image *ngIf="visits.length > 1" class="border-gray img-circle-two img-circle-two-space" stretch="aspectFill" backgroundPosition="left top"
                                        [src]="visits[1].account | accountUrl : 'normal'">
                                    </Image>
                                    <Image *ngIf="visits.length > 0" class="border-gray img-circle-one" stretch="aspectFill" backgroundPosition="left top" [src]="visits[0].account | accountUrl : 'normal'">
                                    </Image>
                                </AbsoluteLayout>
                            </StackLayout>
                            <StackLayout orientation="vertical" col="1" (tap)="onTapForUserList('There Now')">
                                <Label text="There Now" fontSize="13" horizontalAlignment="center" verticalAlignment="middle" textWrap="true">
                                </Label>
                                <AbsoluteLayout horizontalAlignment="center" verticalAlignment="middle" class="m-t-15">
                                    <Image *ngIf="visitsThereNow.length > 2" class="border-pink img-circle-three img-circle-three-space" stretch="aspectFill"
                                        backgroundPosition="left top" [src]="visitsThereNow[2].account | accountUrl : 'normal'">
                                    </Image>
                                    <Image *ngIf="visitsThereNow.length > 1" class="border-pink img-circle-two img-circle-two-space" stretch="aspectFill" backgroundPosition="left top"
                                        [src]="visitsThereNow[1].account | accountUrl : 'normal'">
                                    </Image>
                                    <Image *ngIf="visitsThereNow.length > 0" class="border-pink img-circle-one" stretch="aspectFill" backgroundPosition="left top"
                                        [src]="visitsThereNow[0].account | accountUrl : 'normal'">
                                    </Image>
                                </AbsoluteLayout>
                            </StackLayout>
                            <StackLayout orientation="vertical" col="2">
                                <Label text="Post" fontSize="13" horizontalAlignment="center" verticalAlignment="middle" textWrap="true">
                                </Label>
                                <StackLayout orientation="horizontal" width="100%" marginTop="25" horizontalAlignment="center" verticalAlignment="middle"
                                    (tap)="onTapCheckIn()">
                                    <Label id="check-in-tick" text="&#xE876;" [color]="isUserLive ? '#ff0086' : '#737373'" fontSize="22" horizontalAlignment="center"
                                        verticalAlignment="middle" class="gi"></Label>
                                    <Label text="LIVE" [color]="isUserLive ? '#ff0086' : '#737373'" fontSize="13" margin="0 3 0 3" class="bold"></Label>
                                </StackLayout>
                            </StackLayout>

                        </GridLayout>

                    </StackLayout>
                    <!--...ESTABLISHMENT DETAILS......START.... -->
                    <!-- VISITED & THERE NOW START -->
                    <StackLayout id="user-list-view" marginTop="-10" orientation="vertical" width="100%" height="100%" class="" left="0" backgroundColor="#000000"
                        [visibility]="isInListMode ? 'visible' : 'collapsed'">
                        <GridLayout rows="auto" columns="*, *, *" color="#FFFAFA">
                            <Label id="users-label-text" [text]="listMode" col="0" fontSize="15" horizontalAlignment="left" verticalAlignment="middle"
                                textWrap="true" padding="13 20 15 17">
                            </Label>
                            <Label col="2" text="&#xE14C;" fontSize="17" horizontalAlignment="right" verticalAlignment="middle" class="gi" padding="13 20 15 17"
                                (tap)="onTapForUserList('Cancel')">
                            </Label>
                        </GridLayout>
                        <!-- *ngIf="showList"
                        nsTemplateKey="FRIEND"
                        [itemTemplateSelector]="templateSelector"-->
                        <ListView [items]="listItems" (itemTap)="onItemTap($event)" height="100%" class="list-group" separatorColor="transparent"
                            (itemLoading)="listViewItemLoading($event)">
                            <ng-template let-item="item" let-i="index">
                                <!-- <GridLayout width="100%" rows="*,*" columns="auto, *" class="p-t-5 p-b-5 category-icon-grid" (tap)="onVisitItemTap(item)"> -->
                                <StackLayout orientation="vertical" width="100%" class="category-icon-grid" (tap)="onVisitItemTap(item)">
                                    <StackLayout orientation="horizontal" marginLeft="15">
                                        <Image col="0" horizontalAlignment="left" [class]="listMode == 'Visited' ? 'img-circle-one border-gray' : 'img-circle-one border-pink'"
                                            stretch="aspectFill" backgroundPosition="left top" [src]="item.account | accountUrl: 'normal': selectedIndex">
                                        </Image>
                                        <StackLayout horizontalAlignment="left" orientation="vertical" marginTop="13">
                                            <Label [text]="'@'+item.account.displayName" color="#648296" fontSize="13" marginLeft="20" (tap)="getAccountDetail(item.account.id)"></Label>
                                            <Label [text]="item.account.homeTown ? item.account.homeTown : '' + ' ' + item.account.homeCountry ? item.account.homeCountry : ''"
                                                color="#737373" fontSize="15" marginLeft="20"></Label>
                                            <StackLayout width="100%" height="0.5" [visibility]="i == listItems.length - 1 ? 'hidden' : 'visible'" backgroundColor="#4f4f4f"
                                                marginLeft="20" [marginTop]="((item.account.homeTown && item.account.homeTown != '') || (item.account.homeCountry && item.account.homeCountry != '')) ? 15 : 30">
                                            </StackLayout>
                                        </StackLayout>
                                    </StackLayout>
                                </StackLayout>
                                <!-- </GridLayout> -->
                            </ng-template>
                        </ListView>

                    </StackLayout>
                    <!-- VISITED & THERE NOW END -->
                </AbsoluteLayout>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</AbsoluteLayout>