.center-graph {
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    width: 90%;
    margin-right: 5%;
}

.img-circle-one {
    height: 46;
    width: 46;
    border-radius: 25
}

.img-circle-two {
    height: 38;
    width: 38;
    border-radius: 20;
}

.img-circle-three {
    height: 28;
    width: 28;
    border-radius: 15;
}

.establishment-details {
    padding-top: 34;
}
