<StackLayout orientation="vertical">
    <ActionBar>
        <AbsoluteLayout orientation="horizontal" height="100%">
            <Label text="{{actionBarTitle}}" textAlignment="center" height="100%" width="100%" color="white" style="font-size: 15; font-weight: bold"></Label>
            <Label (tap)="onTapSearch()" height="100%" textAlignment="center" marginLeft="90%" text="&#xE8B6;" ios.position="right" class="gi"
                android.position="actionBar" [visibility]="isInSearchMode ? 'collapsed' : 'visible'" horizontalAlignment="right"
                style="font-size: 20; font-weight: bold">
            </Label>
        </AbsoluteLayout>
        <ActionItem (tap)="onSearchBack()" ios.position="right" ios:horizontalAlignment="left" android:horizontalAlignment="left"
            ios.systemIcon="1" android.position="actionBar" [visibility]="isInSearchMode ? 'visible' : 'collapsed'">
        </ActionItem>
        <!--<Label text="{{actionBarTitle}}" ios:horizontalAlignment="center" android:horizontalAlignment="center" color="white" style="font-size: 17; font-weight: bold"></Label>-->
        <!--<ActionItem (tap)="onTapSearch()" ios.position="right" class="icon" icon="res://ic_search" android.position="actionBar"
        [visibility] ="isInSearchMode ? 'collapsed' : 'visible'">
        </ActionItem>
        <ActionItem (tap)="onTapCancel()" ios.position="right" ios.systemIcon="1" android.position="actionBar" [visibility] ="isInSearchMode ? 'visible' : 'collapsed'">
        </ActionItem>   -->

    </ActionBar>


    <RadSideDrawer showOverNavigation="false">
        <StackLayout tkDrawerContent class="sideStackLayout">
            <!-- <StackLayout>
                <Label text="Navigation Menu" color="white"></Label>
            </StackLayout> -->
        </StackLayout>
    </RadSideDrawer>
    <GridLayout rows="*, auto" tkMainContent>
        <StackLayout row="0" orientation="vertical">
            <StackLayout backgroundColor="black">
                <app-notifications width="100%" height="20%" verticalAlignment="top" [custom]="true" [name]="'map-notifications'">
                </app-notifications>
                <ns-disconnection height="20%"></ns-disconnection>
            </StackLayout>
            <AbsoluteLayout width="100%" height="100%">
                <MapView width="100%" height="100%" top="0" left="0" (mapReady)="onMapReady($event)" (cameraChanged)="onCameraChanged($event)"
                    (markerSelect)="onMarkerSelect($event, false)" (coordinateTapped)="isEstablishmentSelected()">
                </MapView>

                <!--......Back.....Top 15....Center.....  -->
                <!-- <GridLayout
                *ngIf       = "!search.enabled && !history.enabled"
                top         = "10"
                left        = "0"
                width       = "100%"
                height      = "45px"
                rows        = "auto"
                columns     = "70px, *, 70px"
                orientation = "horizontal">

                <Button
                    *ngIf = "establishment.selected || history.enabled || showOneEstablishment"
                    row   = "0"
                    col   = "0"
                    text  = "&#xE5C4;"
                    class = "gi btn-black btn-sm"
                    [ngClass] = "{'night': isNight}"
                    (tap) = "back()">
                </Button>
                <Button
                    *ngIf = "showBack"
                    row   = "0"
                    col   = "0"
                    text  = "&#xE5C4;"
                    class = "gi btn-black btn-sm"
                    [ngClass] = "{'night': isNight}"
                    (tap) = "search.enabled = true">
                </Button>
                <Label
                    *ngIf = "!establishment.selected && !history.enabled && !showBack"
                    row   = "0"
                    col   = "0">
                </Label>

    ............top....15...place.........
            <GridLayout
                    *ngIf   = "(markers && markers.length) || (establishment && establishment.selected && establishment.selected.name) && !showOneEstablishment"
                    columns = "*"
                    rows    = "*"
                    row     = "0"
                    col     = "1"
                    [ngClass] = "{'night': isNight}"
                    class   = "top-label">
                    <Label
                        row       = "0"
                        column    = "0"
                        class     = "text-center bold color-white p-l-15 p-r-15"
                        verticalAlignment = "middle"
                        horizontalAlignment = "center"
                        marginLeft="10px"
                        marginRight="10px"
                        [text]    = "establishment.selected ? establishment.selected?.name : 'Top '+ limit +' places'">
                    </Label>
                </GridLayout>
                <Label
                    *ngIf = "mapView && mapView.zoom && mapView.zoom < settings.SET_MIN_ZOOM"
                    row     = "0"
                    col     = "1">
                </Label>
                <Label
                    *ngIf = "!history.enabled"
                    row   = "0"
                    col   = "1">
                </Label>

                <Button
                    *ngIf = "!centered && !history.enabled && !showRectify && !showOneEstablishment"
                    row   = "0"
                    col   = "2"
                    text  = "&#xE55C;"
                    class = "gi btn-black btn-sm"
                    [ngClass] = "{'night': isNight}"
                    (tap) = "center();">
                </Button>
                <Button
                    *ngIf = "history.enabled"
                    row   = "0"
                    col   = "2"
                    text  = "&#xE896;"
                    class = "gi btn-black btn-sm"
                    [ngClass] = "{'night': isNight}"
                    (tap) = "historyList.enabled = true">
                </Button>
                <Label
                    *ngIf = "centered && !history.enabled"
                    row   = "0"
                    col   = "2">
                </Label>
            </GridLayout> -->
                <!-- START: ESTABLISHMENT CARDS -->
                <StackLayout *ngIf="highlightMarker && !detectionCard.enabled && !showOneEstablishment" width="100%" left="25" class="card-stack top-space">
                    <CardCarousel #carousel width="100%" [list]="markers" [default]="{ item: highlightMarker, index: highlightMarker.userData.index }"
                        (onItemFocus)="onCardFocus($event)" (onItemTap)="onCardTap($event)" (onItemSwipeTop)="onCardTap($event)">
                        <!--CardItemCarousel *ngFor="let item of list" [item] = "item" class="m-15" [width]="(pageWidth) + 'px'"></CardItemCarousel-->
                        <StackLayout orientation="horizontal">
                            <!--...LEFT ARROW...-->
                            <!-- <Label row="1" col="0" verticalAlignment="center" text="&#xE314;" class="gi arrow" textWrap="true" backgroundColor="black"
                                opacity="0.7">
                            </Label> -->

                            <WrapLayout marginLeft="1%" marginRight="1%" class="img xs-border-radius z-index-10 est-card-width" [ngClass]="{'night': isNight}">
                                <AbsoluteLayout width="100%" class="p-b-15" rows="*, *" columns="auto, auto * auto, auto" backgroundColor="black" opacity="0.7">
                                    <!--[gradient]     = "[180, 0, 0, 0]"
                            [endColor]     = "[230, 0, 0, 0]"
                            [borderRadius] = "cardSettings.radius"> -->
                                    <!-- class = "p-t-5 p-b-10 xs-border-radius" -->
                                    <!--...UP ARROW...-->
                                    <Label top="0" left="150" row="0" col="2" text="&#xE5C7;" class="gi arrow" color="#648296" textWrap="true" visibility="collapsed">
                                    </Label>
                                    <!--...COUNT CIRCLE TEXT...-->
                                    <Image left="20" top="20" row="1" col="1" verticalAlignment="center" class="img-circle rank oppa" marginRight="30px" stretch="aspectFill"
                                        backgroundPosition="left top" [src]="carousel.current.item.userData.establishment | establishmentUrl: 'normal': 0">
                                    </Image>

                                    <!--...NAME & DISTANCE TEXT...-->
                                    <StackLayout left="55" top="20" col="2" verticalAlignment="center" row="1">
                                        <Label textWrap="false" verticalAlignment="center" horizontalAlignment="left" class="card-title color-white p-b-5 bold" [text]="carousel.current.item.userData.establishment.name">
                                        </Label>
                                        <Label horizontalAlignment="left" color="#616161" fontSize="14" [text]="(carousel.current.item.userData.establishment | priceRange) + ' ' + (carousel.current.item.userData.establishment | category)"
                                            textWrap="true" marginLeft="25">
                                            <!-- class    = "h3 font-weight-bold color-white" -->
                                        </Label>
                                    </StackLayout>
                                    <!--...SHARE BUTTON...-->
                                    <!-- <Button
                                *ngIf= "!history.enabled"
                                row="1"
                                col = "3"
                                class="share-btn gi"
                                verticalAlignment = "center"
                                text="&#xE80D;"
                                (tap)="shareEstablishment()">
                            </Button> -->
                                    <StackLayout row="1" col="3" *ngIf="history.enabled && carousel.current.item.userData.visit && isHistoryOwner" orientation="horizontal">
                                        <Button text="&#xE5CA;" class="gi btn-xs btn-white font-20" [isEnabled]="carousel.current.item.userData.visit.validity < 100"
                                            (tap)="confirmVisit(carousel.current.item.userData.visit)">
                                        </Button>

                                        <Button text="&#xE5CD;" marginLeft="10" class="gi btn-xs btn-white font-20" (tap)="openRectify(carousel.current.item.userData.visit)">
                                        </Button>
                                    </StackLayout>
                                    <!--StackLayout
                                orientation="horizontal"
                                horizontalAlignment="center"
                                class    = "card-title bold color-white">
                                <Button
                                    *ngIf="history.enabled"
                                    class="pink border-white btn-xs"
                                    marginRight="5px"
                                    [text]="carousel.current.index + 1">
                                </Button>
                                <Label
                                    textWrap = "false"
                                    verticalAlignment="center"
                                    horizontalAlignment="center"
                                    class="text-center"
                                    marginLeft="15"
                                    marginRight="15"
                                    [text]   = "carousel.current.item.userData.establishment.name">
                                </Label>
                            </StackLayout>
                            <Label
                            class    = "h3 text-center font-weight-bold color-white"
                            [text]   = "distances.selectedEstablishmentFromUser | formatDistance: account"
                            textWrap = "true">
                            </Label>
                            <Button
                                *ngIf="!history.enabled"
                                width = "150px"
                                class="btn-bordered share-btn"
                                text="Share"
                                (tap)="shareEstablishment()"></Button-->
                                </AbsoluteLayout>
                            </WrapLayout>
                            <!--...RIGHT ARROW....-->
                            <!-- <Label row="1" col="4" text="&#xE315;" class="gi arrow" verticalAlignment="center" textWrap="true" backgroundColor="black"
                                opacity="0.7">
                            </Label> -->
                        </StackLayout>
                    </CardCarousel>
                </StackLayout>
                <!--StackLayout
            width         = "100%"
            top           = "100%"
            left          = "0"
            class         = "card-stack">
            <slides width="100%" loop = "true" pageIndicators = "true">
                    <slide width="100%" *ngFor="let marker of markers; let i = index">
                        <WrapLayout
                            width       = "94%"
                            marginLeft  = "3%"
                            marginRight = "3%"
                            class       = "img small-border-radius z-index-10 pink">
                            <StackLayout
                                width          = "100%"
                                class          = "p-t-10 p-b-10 small-border-radius"
                                orientation    = "vertical">
                                <StackLayout
                                    *ngIf="history.enabled && marker.userData.visit && marker.userData.visit.validity < 100"
                                    orientation="horizontal"
                                    horizontalAlignment="center"
                                    marginTop="7"
                                    marginBottom="7">
                                    <Button
                                        row       = "0"
                                        col       = "2"
                                        text    = "&#xE5CA;"
                                        class     = "gi btn-sm btn-white test-font-size"
                                        (tap)     = "confirmVisit(marker.userData.visit)">
                                    </Button>

                                    <Button
                                        row       = "0"
                                        col       = "3"
                                        text    = "&#xE5CD;"
                                        marginLeft = "20"
                                        class     = "gi btn-sm btn-white test-font-size"
                                        (tap)     = "openRectify(marker.userData.visit)">
                                    </Button>
                                </StackLayout>
                                <Label
                                    class    = "card-title text-center bold color-white"
                                    textWrap = "true"
                                    [text]   = "marker.userData.establishment.name">
                                </Label>
                                <Label
                                class    = "h3 text-center font-weight-bold color-white"
                                [text]   = "distances.selectedEstablishmentFromUser | formatDistance"
                                textWrap = "true">
                                </Label>
                                <Button
                                    *ngIf="!history.enabled || (marker.userData.visit && marker.userData.visit.validity == 100)"
                                    width = "150px"
                                    class="btn-bordered share-btn"
                                    text="Share"
                                    (tap)="shareEstablishment()"></Button>
                            </StackLayout>
                        </WrapLayout>
                    </slide>
                </slides>
            </StackLayout-->
                <!-- END: ESTABLISHMENT CARDS -->
                <!-- START: SEARCH AND MENU BUTTONS -->


                <!-- MERGE CONFLICT ISSUES
            <GridLayout
                *ngIf     = "establishment.selected && !history.enabled"
                left      = "0"
                top       = "0"
                class     = "img small-border-radius card-stack z-index-10"
                (tap)     = "onTapEstablishment()"
                [ngStyle] = "{'background-image': establishment.selected | establishmentUrl: 'background-img' }">
                <StackLayout
                    class      = "p-t-15 p-b-15 small-border-radius darker">
                    <Label
                        class    = "card-title text-center bold color-white"
                        textWrap = "true"
                        [text]   = "establishment.selected.name">
                    </Label>
                    <Label
                    class    = "h3 text-center font-weight-bold color-white"
                    [text]   = "distances.selectedEstablishmentFromUser | formatDistance"
                    textWrap = "true">
                    </Label>
                    <Button width = "150px" class="btn-bordered share-btn" text="Share" (tap)="shareEstablishment()"></Button>
                </StackLayout>
            </GridLayout>
            -->

                <!--......MENU_CONTAINER..................  -->
                <GridLayout id="menu-container" *ngIf="!centered && positions && positions.current && !search.enabled && !history.enabled && !showBack && !showOneEstablishment"
                    width="100%" rows="auto" columns="auto, *, auto" class="map-bottom-menu p-l-20 p-r-20">
                    <!--....START Center Icon..... -->
                    <Label col="2" row="0" text="&#xE55C;" color="#FF0784" marginTop="20" backgroundColor="#FFFFFF" borderRadius="50" ; padding="3"
                        ; class="gi text-center arrow" [ngClass]="{'night': isNight}" (tap)="center();"></Label>
                    <!--....END Center Icon..... -->
                    <!-- <Button
                    *ngIf = "mapView && mapView.zoom && mapView.zoom >= settings.SET_MIN_ZOOM"
                    col   = "0"
                    row   = "0"
                    text  = "&#xE8B6;"
                    class = "gi btn-md btn-black z-index-10 a-p-t-10"
                    [ngClass] = "{'night': isNight}"
                    (tap) = "onTapSearch()">
                </Button>
                <Label
                    *ngIf = "mapView && mapView.zoom && mapView.zoom < settings.SET_MIN_ZOOM"
                    col="0"
                    row="0">
                </Label>
                <Label col="1" row="0"></Label>
                <Button
                    col   = "2"
                    row   = "0"
                    text  = "&#xE5D2;"
                    class = "gi btn-md btn-black z-index-10 a-p-t-5"
                    [ngClass] = "{'night': isNight}"
                    (tap) = "displayMenu()">
                </Button>
                <Label
                    *ngIf="menuInformation.totalCount > 0 && !menu.enabled"
                    col   = "2"
                    row   = "0"
                    [text]  = "menuInformation.totalCount"
                    verticalAlignment="top"
                    horizontalAlignment="left"
                    class = "count-label z-index-15 pink">
                </Label> -->
                </GridLayout>
                <!-- END: SEARCH AND MENU BUTTONS -->
                <!-- START: MENU COMPONENT -->
                <GridLayout *ngIf="menu.enabled && positions.current && !search.enabled && !history.enabled && !showOneEstablishment" width="100%"
                    height="100%" top="0" left="0">
                    <MenuComponent [menuInformation]="menuInformation" [isNight]="isNight" (onNotificationsTap)="openNotifications()" (onFriendsTap)="openFriendsList()"
                        (onListTap)="void" (onHistoryTap)="loadHistoryMode()" (onCloseTap)="closeMenu()">
                    </MenuComponent>
                </GridLayout>
                <!-- END: MENU COMPONENT -->
                <!--</AbsoluteLayout>-->
                <!--<GridLayout rows="*, auto">
                <StackLayout row="0" orientation="vertical">
                    <Label text="demo"></Label>
                </StackLayout>
                <BottomBar row="1" [items]="items" [hide]="hidden" [titleState]="titleState" (loaded)="tabLoaded($event)" (tabSelected)="tabSelected($event)"
                    [inactiveColor]="inactiveColor" [accentColor]="accentColor" colored="true"></BottomBar>
            </GridLayout>-->

                <!-- CONFLICT AREA -->
                <SearchComponent *ngIf="search.enabled" class="search-container" [markers]="markers" [criteriaText]="criteria ? criteria.text : ''"
                    [lastArea]="criteria ? criteria.lastArea : ''" [lastPosition]="locationFromSearch" [invalidArea]="searchOptions.invalidArea"
                    [emptyArea]="searchOptions.emptyArea" [emptySearch]="searchOptions.emptySearch" (onType)="watchLocationEstablishments($event)"
                    (onSelect)="onMarkerSelect($event, true);" (onExpand)="expand();" (onBack)="onSearchBack()" (onNearBy)="center();">
                </SearchComponent>
                <!-- END: SEARCH AND MENU BUTTONS -->
                <!-- START: MENU COMPONENT -->
                <GridLayout *ngIf="menu.enabled && positions.current && !search.enabled && !history.enabled && !showOneEstablishment" width="100%"
                    height="100%" top="0" left="0">
                    <MenuComponent [menuInformation]="menuInformation" [isNight]="isNight" (onNotificationsTap)="openNotifications()" (onFriendsTap)="openFriendsList()"
                        (onListTap)="void" (onHistoryTap)="loadHistoryMode()" (onCloseTap)="closeMenu()">
                    </MenuComponent>
                </GridLayout>
                <!-- END: MENU COMPONENT -->
            </AbsoluteLayout>


            <!-- CONFLICT AREA -->

            <FriendsListComponent width="100%" verticalAlignment="top" [show]="showFriends" (close)="onFriendsClose()">
            </FriendsListComponent>


            <!-- <NotificationsComponent width="100%" verticalAlignment="bottom" [showNotifications]="notifications.enabled" (close)="closeNotifications()"
                (notificationCount)="updateNotificationsNumber($event)" (history)="openVisitOnHistory($event)">
            </NotificationsComponent> -->

            <HistoryComponent *ngIf="history.enabled" [accountId]="accountHistoryId" [visitId]="visitHistoryId" (onBack)="back($event);"
                (onExpand)="expand($event);" (onVisitSelect)="onVisitSelect($event)" (confirm)="confirmVisit($event)" (reject)="openRectify($event)"
                (onVisits)="loadVisits($event)">
            </HistoryComponent>
            <!-- START VISIT DETECTION CARD -->
            <GridLayout *ngIf="positions && positions.user && detectionCard.enabled && detector" class="img small-border-radius checkin-container"
                width="90%" [ngClass]="{'night': isNight}" [ngStyle]="{'background-image': detector.establishment | establishmentUrl: 'background-img' }">
                <GridLayout rows="*" columns="*, 60px, 60px" class="z-index-15 small-border-radius darker p-l-15 p-r-15">
                    <StackLayout row="0" col="0" orientation="vertical" verticalAlignment="center" marginLeft="15px" class="checkin-label">
                        <Label [text]="'@' + detector.establishment.name" class="h3 bold"></Label>
                        <Label [text]="detector.establishment.address"></Label>
                    </StackLayout>

                    <Button row="0" col="1" text="&#xE5CA;" class="gi btn-sm btn-white" (tap)="confirmVisit(visit)">
                    </Button>

                    <Button row="0" col="2" text="&#xE5CD;" class="gi btn-sm btn-white" (tap)="openRectify(visit)">
                    </Button>
                </GridLayout>
            </GridLayout>
            <!-- END OF VISIT DETECTION CARD -->

            <!-- START OF RECTIFY VISIT -->
            <RectifyVisit *ngIf="showRectify" [visit]="visit" (reject)="rejectVisit($event)" (rectify)="rectifyVisit($event)" (close)="closeRectify()">
            </RectifyVisit>
            <!-- END OF RECTIFY VISIT -->

            <ShareComponent [show]="share.enabled" [establishment]="establishment.selected" [notificationsName]="'map-notifications'"
                (close)="closeShare()">
            </ShareComponent>

            <!--LoadingEstablishments
            *ngIf = "!(markers && markers.length) && !userMarker">
        </LoadingEstablishments-->



            <!-- <Disconnection></Disconnection> -->
            <!-- <ns-disconnection></ns-disconnection> -->


            <!-- <Label text="demo"></Label> -->
        </StackLayout>
        <StackLayout row="1" style="color: white;background-color: black;">
            <!-- <BottomBar  [items]="items" [hide]="hidden" [titleState]="titleState" (loaded)="tabLoaded($event)" (tabSelected)="tabSelected($event)"
                    [inactiveColor]="inactiveColor" [accentColor]="accentColor" colored="true"></BottomBar> -->
            <GridLayout rows="auto" columns="*,*,*,*" class="tab-wrapper">
                <StackLayout col="0" class="symbol-text" (tap)="onClickPosts($event)">
                    <Image src="res://check" class="symbol-check"></Image>
                    <Label text="Posts"></Label>

                </StackLayout>
                <StackLayout col="1" class="active symbol-text" (tap)="onClickDiscover($event)">
                    <Image src="res://trending_active" class="symbol-check"></Image>
                    <Label text="Discover"></Label>
                </StackLayout>
                <StackLayout col="2" class="symbol-text" (tap)="onClickNotification($event)">
                    <Image src="res://notifications" class="symbol-check"></Image>
                    <Label text="Notifications"></Label>
                </StackLayout>
                <StackLayout col="3" class="symbol-text" (tap)="onClickUser($event)">
                    <Image src="res://user" class="symbol-check"></Image>
                    <Label text="Your Profile"></Label>
                </StackLayout>
            </GridLayout>

        </StackLayout>


    </GridLayout>

</StackLayout>
