
.img-circle{
    border-radius: 100%;
    border-width: 2px;  
    height: 40;
    width: 40;
}
.title{
    color: #ffffff;
    font-size:20;
    margin-left: 210;
}
.profile{
background-color: black;
}

.card{
background-color: black;
vertical-align:top;
margin-left: 10;
padding-bottom: 5;
padding-top: 5
}
.label-name{
    color: #648296;
    font-size:14;
    margin-left: 5;
    vertical-align: bottom;
}
.label-text{
    font-size:14;
    color: #737373;
    margin-left: 5;
}
.line{
    height:0.5px solid;
    background-color:#4F4F4F;
    width:100%;
}
.img-icon{
    height: 20;
    width: 20;
    vertical-align: middle;
}
.text-name {
    margin-left: 5;
}
.user-icon {
    margin: 10;
}
.profile-details{

}
.img{
    height: 42.78;
    width: 42.78;
    margin-right: 10;
    }

.img-babo {
    height: 20;
    width: 20
}