.post-wrapper{border-width:0.5;border-color:transparent transparent #4f4f4f transparent;border-style: solid;width:100%;padding: 12 20 12 20}
.post-head{color:#fff;font-size: 15;font-weight: bold;width: 100%}
.post-text{color:#737373;font-size: 13;width: 100%}
TextView{color:#f5f5f5;background-color: black;font-size: 15;padding: 12 20 12 20}
.delete-checkin-wrapper{padding: 12 20 12 20}
.delete-checkin{
    color:#648296;
    font-size: 13;
}
.category-icon-grid {
    background-color: #000;
    color: #fff;
}

.m-lr-20 {
    margin-left: 20 !important;
    margin-right: 20 !important;
}

.category-icon {
    /*background-color: #000;*/
    /*color: #fff;*/
    /*text-align: center;*/
    vertical-align: middle;
    /*border-radius: 28px;*/
    /*font-size: 28px;*/
    margin-left: 10px;
    margin-right: 20px;
    /*height: 56px;*/
    /*width: 56px;*/
}

.category-main{
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
    border-color:#737373;
    border-style: solid;
    border-radius: 5;
    padding: 4 5 4 5;
    width:90%
}

.border-left-1{border-left-width: 1px;border-style: solid;border-color: #fff}

.category-icon > Image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*margin-top: 5px;*/
}

.category-filter{
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    width: 33.33333%;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 2px;
    border-left-width: 0px;
    border-color:#fff;
    border-style: solid;
    text-transform: capitalize;
    padding:5 0 5 0;
}

.label-cancel{
    color: #ffffff;
    font-size:15;
}

.search-et {
    margin-left: 5;
    width: 90%;
    font-size: 13;
    color: white
}
