<GridLayout
  width   = "100%"
  height  = "100%"
  rows    = "*"
  columns = "*, auto"
  [allowAnimation] = "true"
  [gradient] = "gradient"
  [endColor] = "[50,0,0,0]"
  (tap)="closeMenu()">
  <Label col="0" row="0"></Label>
  <GridLayout
      id           = "buttons"  
      width        = "auto"
      height       = "100%"
      columns      = "auto"
      row          = "0"
      col          = "1"
      class        = "hide-buttons"
      rows         = "*, auto, auto, auto, auto"
      marginRight  = "20px"
      marginBottom = "70px">
      <Label col="0" row="0"></Label>
      <Button
          col         = "0"
          row         = "1"
          text        = "&#xE7F5;"
          [ngClass]   = "{'disabled': !(menuInfo && menuInfo.enableNotifications)}"
          class       = "gi btn-md btn-white z-index-10 m-b-10"
          (tap)       = "onTapNotifications()">
      </Button>
      <Label
          *ngIf="menuInfo && menuInfo.newNotifications > 0"
          col   = "0"
          row   = "1"
          [text]  = "menuInfo.newNotifications"
          verticalAlignment="top"
          horizontalAlignment="left"
          class = "count-label z-index-15 pink">
      </Label>
      <Button
          col   = "0"
          row   = "2"
          text  = "&#xE7FC;"
          class = "gi btn-md btn-white z-index-10 m-t-10 m-b-10"
          (tap) = "onFriendsTap.next()">
      </Button>
      <Button
          col         = "0"
          row         = "3"
          text        = "&#xE02F;"
          [ngClass]   = "{'disabled': !(menuInfo && menuInfo.enableHistory)}"
          class       = "gi btn-md btn-white z-index-10 m-t-10 m-b-10"
          (tap)       = "onTapHistory()">
      </Button>
      <Label
          *ngIf="menuInfo && menuInfo.enableHistory && menuInfo.unconfirmedHistory"
          col   = "0"
          row   = "3"
          [text]  = "menuInfo.unconfirmedHistory"
          verticalAlignment="top"
          horizontalAlignment="left"
          class = "count-label z-index-15 pink">
      </Label>
      <Button
          col   = "0"
          row   = "4"
          text  = "&#xE5CD;"
          class = "gi btn-md btn-black z-index-10 m-t-10"
          [ngClass] = "{'night': isNight}"
          (tap) = "closeMenu()">
      </Button>
  </GridLayout>
</GridLayout>