.comment-box{
    width: 100%;
    background-color: #d8d8d8;
    
}
.comment-textfield
{
    margin: 10 5 10 5;
    width: 82%;
    height: 40;
    background-color: #ffffff;
    border-color: #ffffff;
    border-width: 2;
    border-radius: 7;
    font-size: 15;
    padding: 0 10 0 10;
}
.comment-sendbutton{
    margin-left: 6;
    font-size: 18;
    vertical-align: center;
    text-align: right;
    color: #000000;
    white-space: nowrap;
    
}
icon{color:#fff;}