<StackLayout height="100%">
    <ActionBar>
        <!-- <NavigationButton icon="res://ic_back"  (tap)="goBack()"></NavigationButton> -->

        <StackLayout orientation="horizontal">
            <Label text="&#xe314;" class="gi" color="white" (tap)="goBack()" ios:horizontalAlignment="left" android:horizontalAlignment="left"
                style="font-size: 20; font-weight: bold"></Label>
            <Label text="Comments" textAlignment="center" width="85%" class="action-bar-title" ios:horizontalAlignment="center" android:horizontalAlignment="center"></Label>
        </StackLayout>
    </ActionBar>


    <GridLayout rows="*,auto,auto" height="100%">
        <StackLayout row="0">
            <StackLayout>
                <post-card *ngIf="showCard" [data]="currentPost" [isMore]="false"></post-card>
            </StackLayout>
            <StackLayout (tap)="hideKeyboard()">


                <ListView class="list-group" [items]="commentList" height="100%" separatorColor="transparent" (itemLoading)="listViewItemLoading($event)">
                    <ng-template let-comment="item">
                        <comment-list [data]="comment"></comment-list>
                    </ng-template>
                </ListView>

            </StackLayout>
        </StackLayout>

        <AbsoluteLayout row="1" verticalAlignment="bottom">
            <StackLayout orientation="horizontal" class="comment-box">
                <TextField id="commentBox" hint=" Write a comment" (loaded)="onTextViewLoaded($event)" (focus)="onTextViewFocus($event)"
                    class="comment-textfield" [(ngModel)]="comment.comment" returnKeyType="send" (returnPress)="saveComment()"></TextField>
                <label class="comment-sendbutton" text="send" horizontalAlignment="right" (tap)="saveComment()"></label>
            </StackLayout>
        </AbsoluteLayout>
        <StackLayout [height]="keyboardHeight" row="2"></StackLayout>
    </GridLayout>

    <!-- <GridLayout rows="*,auto,auto">
        <ScrollView row="0">
            <StackLayout>
                <post-card *ngIf="showCard" [data]="currentPost"></post-card>
            </StackLayout>
            <StackLayout (tap)="hideKeyboard()">


                <ListView class="list-group" [items]="commentList" height="100%" separatorColor="transparent" (itemLoading)="listViewItemLoading($event)">
                    <ng-template let-comment="item">
                        <comment-list [data]="comment"></comment-list>
                    </ng-template>
                </ListView>

            </StackLayout>
        </ScrollView>
        <StackLayout row="1">
            <StackLayout orientation="horizontal" class="comment-box">
                <TextField id="commentBox" hint=" Write a comment" (loaded)="onTextViewLoaded($event)" class="comment-textfield" [(ngModel)]="comment.comment"></TextField>
                <label class="comment-sendbutton" text="send" horizontalAlignment="right" (tap)="saveComment($event)"></label>
            </StackLayout>
        </StackLayout>
        <StackLayout [height]="keyboardHeight" row="2"></StackLayout>
    </GridLayout> -->
</StackLayout>