
.header {	
    height: 23;	
    color: #FFFFFF;	
    font-family: "Basis Grotesque";	
    font-size: 15;	
    font-weight: bold;	
    line-height: 17;	
    text-align: center;
}
 .symbol-settings {	
     
     width: 20;	
     color: #FFFFFF;	
     font-size: 20;	
     line-height: 20;	
     text-align: center;
     margin-right: 40;
    }

.picture{
    margin-top: 8;
    border-radius: 100%;
    border-width: 2;
    margin-bottom:10; 
    height: 98.93;	
    width: 99.49;
}
.bio {	
    color: #FFFFFF;
    font-family: "Basis Grotesque";	
    font-size: 15;	
    /* line-height: 17;	 */
    text-align: center;
    padding-top: 10;
    white-space: normal;
}

.title{
    color: #ffffff;
    font-size:20;
    margin-left: 210;
}
.profile{
    background-color: black
}
.name {	
    
    height: 15;
    color: #FFFFFF;	
    font-family: "Basis Grotesque";	
    font-size: 13;	
    line-height: 15;	
    text-align: center;
}

.hometown {
    
    margin-top: 5;
    margin-bottom: 2;
    height: 15;	
    color: #737373;	
    font-family: "Basis Grotesque";
    font-size: 13;
    line-height: 15;
    text-align: center;
}

.rectangle-3 {	
    padding: 8  5 5 20;
    height: 45;	
    width: 100%;	
    background-color: rgba(216,216,216,0.1);
}

.followers {
    margin-right: 20;
    height: 26;	
    width: 52;	
    color: #FFFFFF;	
    font-family: "Basis Grotesque";
    font-size: 13;	
    line-height: 13;	
    text-align: center;
}
.edit-profile {	
    width: 106.07;	
    color: #FFFFFF;	
    font-family: "Basis Grotesque";	
    font-size: 13;	
    line-height: 14;
    text-align: center;
}
.rectangle {
    
    /* margin-left: 33; */
    padding: 5;
    width: 106.07;
    border-width: 1;
    border-style: solid;
    border-color: 	#737373;
    border-radius: 5;
}

.label-subline{
    color: #737373;
    font-size: 8;
    
 }


