.page{
    background-color: black;
}
.heading-top{
	
	color: #737373;
	font-family: "Basis Grotesque";
	font-size: 13;
    font-weight: bold;
    margin-top: -5;
}
.heading{
	
	color: #737373;
	font-family: "Basis Grotesque";
	font-size: 13;
    font-weight: bold;
    padding-top: 29;
}
.option  {
	
	color: #FFFFFF;
	font-family: "Basis Grotesque";
    font-size: 15;   
	
}

.line{
    border-width:0.5;
    border-color:transparent transparent #979797 transparent;
    border-style: solid;
    width:100%;
    padding: 15 20 15 10;
}
.full-line{
    border-width:0.5;
    border-color:transparent transparent #979797 transparent;
    border-style: solid;
    width:100%;
    padding: 15 25 15 25;
}


.half-line{
    border-width:0.5;
    border-color:transparent transparent #4f4f4f transparent;
    border-style: solid;
    width:100%;
    margin-left: 30;
    padding: 15 38 15 10;
}
.measure {
    margin-top: 2;
    color: #FFFFFF;
    font-family: "Basis Grotesque";
    font-size: 13;
    text-align: center;
}

.rectangle-6 {
	height: 26;
    width: 56.84;
    border-width: 1;
    border-style: solid;
    border-color: #737373;
    border-radius: 10;   
    margin-right: 6;
}

.rectangle-7 {
	height: 26;
    width: 56.84;
    border-width: 1;
    border-style: solid;
    border-color: #737373;
    border-radius: 10;
    background-color: #FF0784;
    
}



.switch1[checked=true] {
	border-radius: 18;
    background-color: #FF0784;
    color: #FF0784;
}

.switch1[checked=false]
{
	border-radius: 18;
	background-color: #FFFFFF;	
    color: #ffffff;
}




/* old css start */
.settings-title {
    background-color: #000;
    height: 45px;
    border-radius: 22.5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
}

.distance {
    width: 75px;
    height: 35px;
    border-width: 0 0 1 0;
    border-color: #EF0792;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    border-width: 2 2 2 2;
    border-color: #EF0792;
    color: #EF0792;
    background-color: #fff;
}

.selected {
    height: 26;
    width: 56.84;
    border-width: 1;
    border-style: solid;
    border-color: #737373;
    border-radius: 10;
    background-color: #FF0784;
    color: #fff;
}

.settings-container {
    background-color: rgba(0, 0, 0, .7);
}

.settings-list {
    margin-top: 10px;
}

.settings-list-item-1 {
    background-color: white;
    border-width: 0 0 1 0;
    border-color: #ccc;
    height: 50px;
    font-size: 18px;
    padding: 5px 15px;
    animation-name: settings-list-animation;
    animation-delay: 0s;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    opacity: 1;
}

.settings-list-item-2 {
    background-color: white;
    border-width: 0 0 1 0;
    border-color: #ccc;
    height: 50px;
    font-size: 18px;
    padding: 5px 15px;
    animation-name: settings-list-animation;
    animation-delay: .1s;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    opacity: 1;
}

.settings-list-item-3 {
    background-color: white;
    border-width: 0 0 1 0;
    border-color: #ccc;
    font-size: 18px;
    padding: 5px 15px;
    animation-name: settings-list-animation;
    animation-delay: .2s;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    opacity: 1;
}

.description {
    font-size: 13px;
}

.settings-list-item-4 {
    background-color: white;
    border-width: 0 0 1 0;
    border-color: #ccc;
    font-size: 18px;
    padding: 5px 15px;
    animation-name: settings-list-animation;
    animation-delay: .3s;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    opacity: 1;
}

.settings-list-item-5 {
    background-color: white;
    border-width: 0 0 1 0;
    border-color: #ccc;
    height: 50px;
    font-size: 18px;
    padding: 5px 15px;
    animation-name: settings-list-animation;
    animation-delay: .4s;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    opacity: 1;
}

.settings-list-item-6 {
    background-color: white;
    border-width: 0 0 1 0;
    border-color: #ccc;
    height: 50px;
    font-size: 18px;
    padding: 5px 15px;
    animation-name: settings-list-animation;
    animation-delay: .5s;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    opacity: 1;
}

.settings-list-item-7 {
    background-color: white;
    border-width: 0 0 1 0;
    border-color: #ccc;
    height: 50px;
    font-size: 18px;
    padding: 5px 15px;
    animation-name: settings-list-animation;
    animation-delay: .6s;
    animation-duration: .6s;
    animation-timing-function: ease-out;
    opacity: 1;
}

.settings-list-item > Label {
    color: #000;
}

.settings-list-item > * {
    vertical-align: center;
}

.settings-list-item-switch {
    background-color: #EF0792;
}

.logout-section {
    background-color: #EF0792;
    height: 15%;
    animation-name: settings-logout-animation;
    animation-delay: 0s;
    animation-duration: .8s;
    animation-timing-function: ease-out;
}

.settings-btn {
    background: transparent;
    border-color: white;
    border-width: 2px;
    border-radius: 6px;
    color: white;
    width: 40%;
}

.exclutions-list {
    padding: 10px;
    border-style: none;
}

.exclution-list-item {
    margin: 5px 0;
}

.frequent-place-form {
    background-color: white;
    width: 80%;
    margin: 4% 5%;
    margin-left: 5%;
    border-radius: 6px;
}

TextField {
    border-color: #ccc;
    border-radius: 6px;
    border-width: 2px;
    padding: 10px;
    margin-top: 10px;
}

.frequent-btn {
    height: 40px;
    color: #EF0792;
    border-color: #000;
    border-radius: 6px;
    border-width: 2px;
    width: 40%;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: capitalize;
}

.close-frequent {
    background-color: #EF0792;
    color: white;
    margin-left: 85%;
}

.search-results {
    border-width: 1px;
    border-color: #ddd;
    padding: 10px;
    background-color: white;
}

.search-results-container {
    z-index: 200;
}

.input-frequent { 
    margin: 20px 0;
}
@keyframes settings-list-animation {
    0% { opacity: 0; transform: translateY(-30)}
    100% { opacity: 1; transform: translateY(0)}
}

@keyframes settings-logout-animation {
    0% { opacity: 0; transform: translateY(30)}
    100% { opacity: 1; transform: translateY(0)}
}