.settings-btn {
    height: 40px;
}

.switch1[checked=true] {
	border-radius: 18;
    background-color: #FF0784;
    color: white;
}

.switch1[checked=false]
{
	border-radius: 18;
	background-color: #FFFFFF;	
    color: #ffffff;
}
