<StackLayout  *ngIf="data.account"  class="list-group page">
    <GridLayout rows="auto" columns="*,auto">

        <StackLayout   col="0" class="list-group-item" orientation="horizontal" verticalAlignment="center">
           <StackLayout orientation="horizontal" width="60" class="img-margin"> 
            <Image [src]="data.account.photo ? data.account.photo.path :''" class="img img-circle"  borderWidth="2px"></Image>
           </StackLayout>
           <StackLayout orientation="horizontal" width="90%" borderWidth="0.5" borderColor="transparent transparent #4f4f4f transparent">
            <Label [text]="data.account.firstName ?'@'+data.account.firstName+': ':''" color="#648296" fontSize="13;" verticalAlignment="center" (tap)="getAccountDetail(data.account.id)"></Label>
            <Label [text]="data.comment" color="white" fontSize="13;" verticalAlignment="center"></Label>
           </StackLayout>
        </StackLayout>
        <Label  verticalAlignment="center" horizontalAlignment="right" [text]="data.createdAt | dateFormat: 'fromNow'" class="label-time"></Label>
    </GridLayout>
</StackLayout>