/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/

Page {
  background-color: black
}
.bold {
    font-weight: bold;
}

.btn-xs {
    font-size: 20px;
    height: 35px;
    width: 35px;
    border-radius: 17.5px;
    text-align: center;
    vertical-align: center;
    padding: 0px;
}
ListView{background-color:black}
ListView:pressed{background-color: transparent}
.list-group{margin:0;padding:0;}
.list-group{margin:0 0 0 0;padding:0 0 0 0;}
.list-group-item{margin:5 10 5 10;padding:0 0 0 0;}
.listbottom-border{border-width:1;border-color:transparent transparent #4f4f4f transparent}
.btn-sm {
    font-size: 20px;
    height: 45px;
    width: 45px;
    border-radius: 22.5px;
    text-align: center;
    vertical-align: center;
}

.btn-md {
    font-size: 32px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    text-align: center;
    vertical-align: center;
}

.btn-black {
    background-color: #000000;
    color: #fff;
}

.btn-white {
    background-color: #ffffff;
    color: #000000;
}

.btn-bordered {
    font-size: 16px;
    background-color: transparent;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
    margin: 20px 0px;
    color: white;
    text-transform: capitalize;
}

.btn.btn-small,
.btn-bordered.btn-small {
    font-size: 25px;
    height: 45px;
    width: 45px;
    border-radius: 23px;
}

.btn {
    font-size: 22px;
    height: 66px;
    width: 66px;
    border-radius: 33px;
}

.btn.btn-medium,
.btn-bordered.btn-medium {
    font-size: 20px;
    height: 56px;
    width: 56px;
    border-radius: 28%;
}


.btn.btn-xsmall,
.btn-bordered.btn-xsmall {
    font-size: 10px;
    height: 16px;
    width: 16px;
    border-radius: 13px;
}

.fa {
    font-family: "FontAwesome";
    font-family: "FontAwesome", fontawesome-webfont;
}


.gi {
    font-family: "Material Icons";
    font-family: "Material Icons", MaterialIcons-Regular;
}

.fi {
    font-family: "HeatIconset";
    font-family: "HeatIconset", HeatIconset-Regular;
}

.search-container {
    width: 100%;
    height: 100%;
    background-color: red;
}

.top-label {
    height: 45px;
    font-size: 15px;
    border-radius: 23px;
    background-color: black;
    color: white;
}

.top-label.area {
}

.p-sides-3percent {
    padding-left: 3%;
    padding-right: 3%;
}

.grotesque-bold {
    font-family: "basis-grotesque-bold";
    font-family: "basis-grotesque-bold", basis-grotesque-bold;
}

Label,
Button,
TextField,
.grotesque-regular {
    font-family: "basis-grotesque-regular";
    font-family: "basis-grotesque-regular", basis-grotesque-regular;
}

.rounded {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 25px;
    margin: 5px 10px;
}
.bg-black-noti{background-color:rgba(0,0,0,1)}
.label-rounded {
    margin-top: 5px;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    background-color: #000;
    color: #fff;
    --android-line-color: green;
}
.pink {
    background-color: #FF0796;
    color: #fff;
}

.darker {
    background-color: rgba(0, 0, 0, 0.4);
}

.card-title {
    font-size: 20px;
}

.bg-transparent {
    background-color: transparent;
}

.border-white {
    border-width: 2.5px;
    border-color: #fff;
}

.color-black {
    color: #000;
}

.color-white {
    color: #FFF;
}

.notification-container {
    padding: 27 23 27 23;
    animation-name: fadeIn;
    min-height: 90px;
    animation-delay: 0s;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    font-size: 12;
    border-width:1;
    border-color: #ff0784;
    border-radius:5;
}

.notifications-list-item {
    /* background-color: #EF0792; */
    border-color: #000;
    border-width: 1 0 0 0;
    padding: 5 0 0 0;
    margin: 0 0 5 0;
}
.notification-btn {
    width: 50px;
    height: 50px !important;
    border-radius: 25px;
    font-size: 25px;
    color: white;
    background-color: #000;
}

.notification-text {
    margin-left: 20px;
    font-size: 16px;
    color: white;
}

.fade-in {
    animation-name: fadeIn;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-30)}
    100% { opacity: 1; transform: translateY(0)}
}

.test {
    background-color: red;
}

.bold {
    font-weight: bold;
}

.card-stack {
    width: 100%;
    margin-top: 100%;
    transform: translateY(-110);
}

.card-stack-small {
    margin-top: 50px;
}

.establishment-card {
    width: 100%;
}


.small-border-radius {
    border-radius: 10px;
    overflow: hidden;
}

.small-image {
    width: 46px;
    height: 46px;
    border-radius: 23px;
}

.img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.list-container {
    background-color: white;
}
.list-container ListView {
    width: 100%;
    height: 100%;
}

.list-container Label {
    margin: 15px;
}

.z-index-1 {
    z-index: 1;
}

.z-index-10 {
    z-index: 10;
}

.z-index-15 {
    z-index: 15;
}

.z-index-100 {
    z-index: 100;
}

.findme-btn {
    margin-left: 5%;
}

.count-label {
    font-size: 12px;
    height: 30px;
    width: 30px;
    padding: 6px;
    border-radius: 15px;
    border-width: 1px;
    margin-top: -1px;
    border-color: white;
    text-align: center;
}

/*
SLIDES
*/
/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
.slide-1{
    background-color: #448AFF;
}

.slide-2{
    background-color: #F44336;
}
.slide-3{
    background-color: #8BC34A;
}

.slide-4{
    background-color: #9C27B0;
}
.slide-5{
    background-color: #FFC107;
}

.slide-6{
    background-color: #448AFF;
}

.slide-7{
    background-color: #F44336;
}
.slide-8{
    background-color: #8BC34A;
}

.slide-9{
    background-color: #9C27B0;
}
.slide-10{
    background-color: #FFC107;
}


.slide-indicator-inactive{
    background-color: #fff;
    opacity : 0.4;
    width : 10;
    height : 10;
    margin-left : 2.5;
    margin-right : 2.5;
    margin-top : 0;
    border-radius : 5;
}

.slide-indicator-active{
    background-color: #fff;
    opacity : 0.9;
    width : 10;
    height : 10;
    margin-left : 2.5;
    margin-right : 2.5;
    margin-top : 0;
    border-radius : 5;
}

ActionBar {
    flat: true;
    background-color: black;
    color: white;
}

.action-bar-title {
    font-size: 15;
    font-weight: bold;
    color: white
}

.tab-wrapper {
  border-width:1px 0 0 0;
  border-color:#4f4f4f
}
.symbol-check{
    height: 20;
    margin:5;
    }
.symbol-text{
    font-size:10;
    text-align: center;
    color:#737373;
    margin-bottom:5;
    margin-top: 5;
}
.active{color:#737373}
.active .symbol-check{color:#FF0784;}
.active .symbol-text{color:#737373}

.radListView-background
{
    background-color: #000000;;
}
/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';
