<StackLayout>
    <ActionBar>
        <Label text="Posts" class="action-bar-title" width="100%" height="100%" textAlignment="center"></Label>
    </ActionBar>

    <!-- <ScrollView> -->

    <AbsoluteLayout backgroundColor="black">
        <app-notifications width="100%" height="20%" verticalAlignment="top" [custom]="true" [name]="'map-notifications'">
        </app-notifications>
        <ns-disconnection > </ns-disconnection>
    </AbsoluteLayout>

    <GridLayout rows="auto, *, auto" backgroundColor="black">
        <StackLayout row="0" orientation="vertical" backgroundColor="black" marginBottom="10">
            <stackLayout width="90%" orientation="horizontal" class="category-main" horizontalAlignment="center">
                <Button id="following" class="gi category-tab" fontWeight="Normal" text="&#xE7EF;" (tap)="onTapFollowerTap($event)">
                </Button>
                <Button id="profile" class="gi category-tab1" stretch="aspectFill" fontWeight="Normal" text="&#xE7FD;" (tap)="OnTapProfile($event)">
                </Button>
            </stackLayout>
        </StackLayout>



        <!-- <GridLayout row="1"> -->

        <ListView [visibility]="follower ? 'visible':'collapsed'" row="1" id="lvFollowersPost" [items]="followingVisits" separatorColor="transparent"
            class="radListView-background" (itemLoading)="listViewItemLoading($event)">

            <ng-template let-item="item">
                <StackLayout>
                    <post-card [data]="item" (action)="actionVisit($event)"></post-card>
                </StackLayout>
            </ng-template>
        </ListView>


        <ListView [visibility]="profile ? 'visible':'collapsed'" row="1" id="lvMyPost" [items]="myVisits" separatorColor="transparent"
            class="radListView-background" (itemLoading)="listViewItemLoading($event)">

            <ng-template let-myVisit="item">
                <StackLayout>
                    <post-card [data]="myVisit" (action)="actionVisit($event)"></post-card>
                </StackLayout>
            </ng-template>

        </ListView>
        <!-- </GridLayout> -->

        <StackLayout row="2" style="color: white;">

            <GridLayout rows="auto" columns="*,*,*,*" class="tab-wrapper">
                <StackLayout col="0" class="active symbol-text" (tap)="onClickPosts($event)">
                    <Image src="res://check_active" class="symbol-check"></Image>
                    <Label text="Posts"></Label>

                </StackLayout>
                <StackLayout col="1" class="symbol-text" (tap)="onClickDiscover($event)">
                    <Image src="res://trending" class="symbol-check"></Image>
                    <Label text="Discover"></Label>
                </StackLayout>
                <StackLayout col="2" class="symbol-text" (tap)="onClickNotification($event)">
                    <Image src="res://notifications" class="symbol-check"></Image>
                    <Label text="Notifications"></Label>
                </StackLayout>
                <StackLayout col="3" class="symbol-text" (tap)="onClickUser($event)">
                    <Image src="res://user" class="symbol-check"></Image>
                    <Label text="Your Profile"></Label>
                </StackLayout>
            </GridLayout>

        </StackLayout>


    </GridLayout>


    <!-- </ScrollView> -->
</StackLayout>