
TextField {
    color: white;
    placeholder-color: white;
    background-color: transparent;
    border-width: 2px;
    border-radius: 6px;
    border-color: white;
}

.ri-btn {
    color: white;
    background-color: transparent;
    text-decoration: underline;
    font-size: 16px;
}
.ic-container {
    animation-name: invCode;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    margin: 30px 0px;
    width: 75%;
}

@keyframes invCode {
    0% { opacity: 0; transform: translateY(-15)}
    100% { opacity: 1; transform: translateY(0)}
}