.actions {
    border-bottom-left-radius: 5;
    border-bottom-right-radius: 5;
}

.cancel {
    border-radius: 5;
    color: #0071ff;
    padding: 16;
    font-size: 16;
}

.action-btn {
    color: #0071ff;
    padding: 16;
    font-size: 16;
    border-color: #b1b1b1;
    border-bottom-width: 1;
}

.dialog {
    width: 98%;
    background-color: black;
}

.title {
    padding: 14;
    border-top-left-radius: 5;
    border-top-right-radius: 5;
    border-bottom-width: 1;
    border-color: #b1b1b1;
}