<StackLayout orientation="vertical">
    <ActionBar title="Details" class="action-bar" style="background-color: black">
        <!-- <AbsoluteLayout width="100%">
                            <Label text="10, 10" left="10" top="10" width="90" height="90" backgroundColor="red"></Label>
                            <Label text="110, 10" left="110" top="10" width="90" height="90" backgroundColor="green"></Label>
                            <Label text="110, 110" left="110" top="110" width="90" height="90" backgroundColor="blue"></Label>
                            <Label text="10, 110" left="10" top="110" width="90" height="90" backgroundColor="yellow"></Label>
                        </AbsoluteLayout> -->
        <GridLayout rows="1*" columns="1*,3*,1*">
            <Label class="label-cancel" text="Cancel" row="0" col="0" (tap)="goToBack()"></Label>
            <Label class="label-title text-center" text="Edit Profile" row="0" col="1"></Label>
            <Label class="label-done text-center" text="Done" row="0" col="2" (tap)="updateProfile()"></Label>
        </GridLayout>
    </ActionBar>


    <!-- <StackLayout style="background-color: black" class="form">        -->
    <WrapLayout style="background-color: black" width="100%" height="100%">
        <ScrollView>
            <StackLayout>
                <StackLayout>
                    <Image src="{{currentAccount.photo.path}}" class="outline"> </Image>
                    <!-- <Label class="text-left" text="My text is left aligned"></Label>
                                                <Label class="text-right" text="My text is right align"></Label> -->
                    <!-- <Button text="Action" class="action-item"></Button>
                                                    <Button class="btn btn-primary" text="I use the theme’s primary color pattern"></Button>
                                                    <B utton class="btn btn-outline" text="I have a border! And a transparent background!"></Button> -->
                </StackLayout>
                <StackLayout class="change-profile-photo">
                </StackLayout>

                <StackLayout *ngIf="isUser">
                    <!-- <GridLayout rows="auto, auto" columns="*,*">
                                                        <StackLayout class="line" row="0" colSpan="2"></StackLayout>
                                                    </GridLayout> -->
                    <StackLayout orientation="horizontal" class="frist-line">
                        <Label text="Name" class="label" verticalAlignment="center"></Label>
                        <TextField class="textfield" hint="Enter your name" [(ngModel)]="currentAccount.username" style.placeholderColor="#737373">
                        </TextField>
                    </StackLayout>

                    <StackLayout orientation="horizontal" class="line">
                        <Label text="User ID" class="label" verticalAlignment="center"></Label>
                        <StackLayout orientation="horizontal">
                            <Label text="@" color="white">
                            </Label>
                            <TextField class="textfield" hint="Enter your UserID" [(ngModel)]="currentAccount.displayName" style.placeholderColor="#737373">
                            </TextField>
                        </StackLayout>

                    </StackLayout>

                    <StackLayout orientation="horizontal" class="line">
                        <Label text="Location" class="label" verticalAlignment="center"></Label>
                        <TextField class="textfield" hint="Enter Loacation" [(ngModel)]="userLocation" style.placeholderColor="#737373">
                        </TextField>
                    </StackLayout>

                    <StackLayout orientation="horizontal" class="line">
                        <Label text="Birthday" class="label" verticalAlignment="center"></Label>
                        <TextField class="textfield" hint="Enter your birthday" [text]="currentAccount.birthday | date:'mediumDate'" style.placeholderColor="#737373">
                        </TextField>
                    </StackLayout>

                    <StackLayout orientation="horizontal" class="line">
                        <Label text="Bio" class="bio-label" verticalAlignment="top"></Label>
                        <TextView type="text" id="biotxt" textWrap="true" class="textview" hint="Add a bit about yourself" [(ngModel)]="currentAccount.bio"
                            style.placeholderColor="#737373" maxLength="130">
                        </TextView>
                    </StackLayout>

                    <!-- <GridLayout height="45" rows="9*, 1*" columns="3*,7*">
                                        <Label text="Location" class="label" row="0" col="0"></Label>
                                        <TextField class="text" row="0" col="1" hint="Enter Loacation" [(ngModel)]="currentAccount.location" style.placeholderColor="#737373"></TextField>
                                        <StackLayout class="line" row="1" colSpan="2"></StackLayout>
                                    </GridLayout>

                                    <GridLayout height="45" rows="9*, 1*" columns="3*,7*">
                                        <Label text="BirthDay" class="label" row="0" col="0"></Label>
                                        <TextField class="text" row="0" col="1" hint="Enter your birthday" [(ngModel)]="currentAccount.birthDay" style.placeholderColor="#737373"></TextField>
                                        <DatePicker row="0" col="1" (loaded)="onPickerLoaded($event)" (dateChange)="onDateChanged($event)"
                                        (dayChange)="onDayChanged($event)" (monthChange)="onMonthChanged($event)" (yearChange)="onYearChanged($event)" verticalAlignment="center"></DatePicker>
                                        <StackLayout class="line" row="1" colSpan="2"></StackLayout>
                                    </GridLayout>

                                    <GridLayout height="90" rows="4*,,5*, 1*" columns="3*,7*">
                                        <Label text="Bio" row="0" col="0" class="label"></Label>
                                        <TextView class="text" row="0" col="1" rowspan="2" hint="Add a bit about yourself" [(ngModel)]="currentAccount.bio" style.placeholderColor="#737373"></TextView>
                                        <StackLayout class="line" row="3" colSpan="2"></StackLayout>
                                    </GridLayout> -->

                </StackLayout>
            </StackLayout>

        </ScrollView>
    </WrapLayout>

</StackLayout>