<ActionBar class="action-bar" style="background-color: black">
    <GridLayout rows="1*" columns="auto,*, auto">
        <Label class="gi label-pre text-center" text="&#xE408;" row="0" col="0" (tap)="goToBack()"></Label>
        <!-- <Button id="following" class="gi category-tab" fontWeight="Normal" text="&#xE408;" row="0" col="0">
        </Button> -->
        <Label class="label-title" textAlignment="center" text="Follow" row="0" col="1"></Label>
        <Label class="label-title" textAlignment="center" text="Follow" row="0" col="2" visibility="hidden"></Label>
    </GridLayout>
</ActionBar>
<stackLayout backgroundColor="black" hight="100%" orientation="vertical">
    <stackLayout class="fb-container" orientation="horizontal" (tap)="inviteAllFBFriends()">
        <StackLayout verticalAlignment="center" (tap)="findFB()">
            <Label text="&#xf230;" class="fa fb-img" fontSize="21" backgroundColor="white" color="#3a54a1"></Label>
        </StackLayout>
        <Label class="label-fb" text="Invite Facebook Friends"></Label>
    </stackLayout>
    <stackLayout class="suggested-container">
        <Label class="suggested-user" fontWeight="bold" text="SUGGESTED USERS"></Label>
    </stackLayout>

    
    <!-- <ScrollView>
        <stackLayout>
            <app-follow-card *ngFor="let item of followList" [data]="item"></app-follow-card>
        </stackLayout>
    </ScrollView> -->
    <ListView [items]="users" (loadMoreItems)="loadMoreItems()" separatorColor="transparent" height="100%">
        <ng-template let-item="item" let-i="index">
            <StackLayout>
                <app-follow-card [data]="item" (follow)="followUser($event)"></app-follow-card>
            </StackLayout>
        </ng-template>
    </ListView>
    <!-- <ListView class="list-group" [items]="followList" separatorColor="transparent">
        <ng-template let-country="item">
            <Label color="white" height="10" [text]="displayName"></Label>         
        </ng-template>
    </ListView> -->
</stackLayout>