<GridLayout
    *ngIf="show"
    id="friends-list"
    rows="auto,auto,*,auto"
    class="friends-container">
    <Label
        *ngIf="isIos"
        height="275px"
        row="0">
    </Label>
    <GridLayout
        row="1"
        width="100%"
        rows="55px"
        columns="auto, *, auto"
        class="black-background">
        <Button
            col="0"
            text="&#xE14C;"
            class="gi btn-sm btn-white m-l-10"
            verticalAlignment="center"
            isEnabled="false"
            [ngStyle]="{opacity: 0}">
        </Button>
        <GridLayout
            col="1"
            verticalAlignment="center">
            <Label
                horizontalAlignment="center"
                verticalAlignment="center"
                class="friends-title"
                text="Your Friends">
            </Label>
        </GridLayout>
        <Button
            col="2"
            text="&#xE14C;"
            class="gi btn-xs btn-white m-r-10"
            verticalAlignment="center"
            (tap)="close()">
        </Button>
    </GridLayout>
    <GridLayout
        *ngIf="isIos && !showList"
        row="2"
        class="black-background">
    </GridLayout>
    <ListView
        *ngIf="showList"
        row="2"
        separatorColor ="transparent"
        class="friends-list"
        [items]="friends"
        [itemTemplateSelector]="templateSelector">
        <ng-template
            nsTemplateKey="FRIEND"
            let-item="item">
            <GridLayout
                columns="auto, auto, *"
                class="friends-list-item"
                (tap)="onItemTap(item.friend)">
                <Image
                    col="0"
                    class="friends-list-item-img small-image"
                    [src]="item.friend.photo ? item.friend.photo.path : ''">
                </Image>
                <Label
                    col="1"
                    verticalAlignment="center"
                    cass="fa friends-list-item-icon">
                </Label>
                <GridLayout
                    col="2"
                    verticalAlignment="center"
                    rows="auto,auto">
                    <Label
                        [text]="item.friend.displayName || item.friend.username"
                        class="fs-16 bold m-b-5"
                        fontAttributes="Bold"
                        row="0">
                    </Label>
                    <StackLayout
                        *ngIf="(item.friend | currentVisit: account) != '' && account"
                        row="1"
                        orientation="horizontal">
                        <Label class="gi" text="&#xE0C8;"></Label>
                        <Label [text]="item.friend | currentVisit: account"></Label>
                    </StackLayout>
                </GridLayout>
            </GridLayout>
        </ng-template>
        <ng-template
            nsTemplateKey="NO_ITEM"
            let-item="item">
            <StackLayout>
            </StackLayout>
        </ng-template>
    </ListView>
    <StackLayout
        class="add-friend-btn black-background"
        row="3">
        <StackLayout
            horizontalAlignment="center"
            verticalAlignment="center"
            class="btn-container"
            orientation="horizontal"
            (tap)="goToAddFriends()">
            <Label class="gi" style="margin-left: 25px; font-size: 30px;" text="&#xE7FC;"></Label>
            <Label text=" Add Friends" class="h3 p-t-4" verticalAlignment="center"></Label>
        </StackLayout>
    </StackLayout>
</GridLayout>