.friends-container {
    color: white;
    height: 60%;
    margin-top:41%;
    background-color: #000;
    animation-name: friends-list-open;
    animation-delay: 0s;
    animation-duration: .5s;
    animation-timing-function: ease-out;
}