<StackLayout>
    <ActionBar>
        <Label width="100%" height="100%" textAlignment="center" text=" Notifications" class="action-bar-title"></Label>
    </ActionBar>


    <StackLayout backgroundColor="black">
        <app-notifications width="100%" height="20%" verticalAlignment="top" [custom]="true" [name]="'map-notifications'">
        </app-notifications>
        <ns-disconnection  height="20%"></ns-disconnection>
    </StackLayout>

    <GridLayout *ngIf="show" id="notifications-component" rows="*,auto" colums="*" class="notifications-container">
        <ListView row="0" separatorColor="transparent" class="notifications-list" [items]="notifications" [itemTemplateSelector]="templateSelector" (itemLoading)="listViewItemLoading($event)">
            <ng-template nsTemplateKey="FRIEND_REQUEST" let-item="item">
                <GridLayout columns="auto, *" paddingLeft="5" class="notifications-list-item" (tap)="goToFriendProfile(item)">
                    <Image col="0" class="notifications-list-item-img small-image" [src]="item.account.photo ? item.account.photo.path : ''"></Image>

                    <StackLayout col="2" class="fs-13" verticalAlignment="center"  textWrap="false" orientation="horizontal" width="80%" rows="auto,auto" borderWidth="0.5" borderColor="transparent transparent #4f4f4f transparent">
                        <!-- <Label col="1" class="fs-13" verticalAlignment="center"> -->
                            <!-- <FormattedString backgroundColor="red"> -->
                                <Label color="#648296"  [text]="'@'+ item.account.firstName || item.account.displayName " paddingRight="5" fontAttributes="Bold" class="accountlabel"></Label>>
                                <Label text=" have started following you"></Label>
                            <!-- </FormattedString> -->
                        <!-- </Label> -->
                       
                    </StackLayout>
                    <Label class="fs-10" col="2" [text]="item.createdAt | dateFormat: 'fromNow'" horizontalAlignment="right" verticalAlignment="center">
                        </Label>
                </GridLayout>
            </ng-template>
            <ng-template nsTemplateKey="FRIEND_RESPONSE" let-item="item">
                <GridLayout columns="auto,*" paddingLeft="5" class="notifications-list-item" (tap)="goToFriendProfile(item)">
                    <Image col="0" class="notifications-list-item-img small-image" [src]="item.account.photo ? item.account.photo.path : ''"></Image>

                    <StackLayout col="2" class="fs-13" verticalAlignment="center"  textWrap="false" orientation="horizontal" width="80%" rows="auto,auto" borderWidth="0.5" borderColor="transparent transparent #4f4f4f transparent">
                        <!-- <WrapLayout marginLeft="5" col="1" class="fs-13" verticalAlignment="center" backgroundColor="green"> -->
                            <Label [text]="'@'+ item.account.firstName || item.account.displayName " class="accountlabel" paddingRight="5" fontAttributes="Bold" class="accountlabel"></Label>
                            <Label text=" is now following you"></Label>
                        <!-- </WrapLayout> -->
                       
                    </StackLayout>
                    <Label class="fs-10" col="2" [text]="item.createdAt | dateFormat: 'fromNow'" horizontalAlignment="right" verticalAlignment="center">
                    </Label>
                </GridLayout>
            </ng-template>
            <ng-template nsTemplateKey="FRIEND_VISIT" let-item="item">
                <GridLayout columns="auto, *" paddingLeft="5" class="notifications-list-item" (tap)="openEstablishment(item)">
                    <Image col="0" class="notifications-list-item-img small-image" [src]="item.account.photo ? item.account.photo.path : ''"></Image>

                    <StackLayout col="2" class="fs-13" verticalAlignment="center"  textWrap="false" orientation="horizontal" width="80%" rows="auto,auto" borderWidth="0.5" borderColor="transparent transparent #4f4f4f transparent">
                        <!-- <Label col="1" marginLeft="5" class="fs-13" verticalAlignment="center"> -->
                            <!-- <FormattedString  backgroundColor="yellow"> -->
                                <Label color="#648296" [text]="'@'+ item.account.firstName || item.account.displayName " class="accountlabel" fontAttributes="Bold" ></Label>
                                <Label text=" visit "></Label>
                                <Label [text]="item.establishment.name" fontAttributes="Bold"></Label>
                            <!-- </FormattedString> -->
                        <!-- </Label> -->
                       
                    </StackLayout>
                    <Label col="2" class="fs-10" [text]="item.createdAt | dateFormat: 'fromNow'" horizontalAlignment="right" verticalAlignment="center">
                        </Label>
                </GridLayout>
            </ng-template>

            <ng-template nsTemplateKey="LIKE" let-item="item">
                <GridLayout columns="auto, *" paddingLeft="5" class="notifications-list-item" (tap)="openPost(item)">
                    <Image col="0" class="notifications-list-item-img small-image" [src]="item.account.photo ? item.account.photo.path : ''"></Image>

                    <StackLayout col="1" class="fs-13" verticalAlignment="center"  textWrap="false" orientation="horizontal" width="80%" rows="auto,auto" borderWidth="0.5" borderColor="transparent transparent #4f4f4f transparent">
                        <!-- <Label col="1" marginLeft="5" class="fs-13" verticalAlignment="center"> -->
                            <!-- <FormattedString> -->

                                <Label  [text]="'@'+ item.account.firstName || item.account.displayName " color="#648296" marginRight="5"  fontAttributes="Bold" ></Label>
                                <Label text="liked your visit"></Label>


                            <!-- </FormattedString> -->
                        <!-- </Label> -->
                       
                    </StackLayout>
                    <Label col="2" class="fs-10" horizontalAlignment="right"  orientation="horizontal" [text]="item.createdAt | dateFormat: 'fromNow'" verticalAlignment="center">
                    </Label>
                </GridLayout>
            </ng-template>

            <ng-template nsTemplateKey="COMMENT" let-item="item">
                <GridLayout columns="auto, *" paddingLeft="5" class="notifications-list-item" (tap)="openPost(item)">
                    <Image col="0" class="notifications-list-item-img small-image" [src]="item.account.photo ? item.account.photo.path : ''"></Image>

                    <StackLayout col="2" class="fs-13" verticalAlignment="center"  textWrap="false" orientation="horizontal" width="80%" rows="auto,auto" borderWidth="0.5" borderColor="transparent transparent #4f4f4f transparent">
                        <!-- <Label col="1" marginLeft="5" class="fs-13" verticalAlignment="center"> -->
                            <!-- <FormattedString  backgroundColor="#808080"> -->
                                <Label color="#648296" [text]="'@'+ item.account.firstName || item.account.displayName " class="accountlabel" fontAttributes="Bold" ></Label>
                                <Label text=" commented on your visit "></Label>

                            <!-- </FormattedString> -->
                        <!-- </Label> -->
                       
                    </StackLayout>
                    <Label col="2" class="fs-10" [text]="item.createdAt | dateFormat: 'fromNow'" horizontalAlignment="right" verticalAlignment="center">
                        </Label>
                </GridLayout>
            </ng-template>

            <ng-template nsTemplateKey="ESTABLISHMENT_SHARE" let-item="item">
                <GridLayout columns="auto, *" paddingLeft="5" class="notifications-list-item" (tap)="openEstablishment(item)">
                    <Image col="0" class="notifications-list-item-img" [src]="item.account.photo ? item.account.photo.path : ''"></Image>

                    <StackLayout col="2" verticalAlignment="center"  textWrap="false" orientation="horizontal" width="80%" class="fs-13" rows="auto,auto" rows="auto,auto" borderWidth="0.5" borderColor="transparent transparent #4f4f4f transparent">
                        <!-- <Label col="1" marginLeft="5" verticalAlignment="center" class="fs-13"> -->
                            <!-- <FormattedString> -->
                                <Label color="#648296" [text]="'@'+ item.account.firstName || item.account.displayName " fontAttributes="Bold" color="#648296"></Label>
                                <Label text=" shared "></Label>
                                <Label [text]="item.establishment.name" fontAttributes="Bold"></Label>
                            <!-- </FormattedString> -->
                        <!-- </Label> -->
                       
                    </StackLayout>
                    <Label col="2" class="fs-10" [text]="item.createdAt | dateFormat: 'fromNow'" horizontalAlignment="right" verticalAlignment="center">
                        </Label>
                </GridLayout>
            </ng-template>
            <ng-template nsTemplateKey="VISIT" let-item="item">
                <GridLayout columns="auto,*" paddingLeft="5" class="notifications-list-item" (tap)="openHistory(item)">
                    <Image col="0" class="notifications-list-item-img small-image" [src]="item.account.photo ? item.account.photo.path : ''">
                    </Image>
                    <StackLayout col="2" verticalAlignment="center"  textWrap="false" orientation="horizontal" width="80%" class="fs-13" rows="auto,auto" borderWidth="0.5" borderColor="transparent transparent #4f4f4f transparent">
                        <Label col="1" marginLeft="5" [text]="item.text" Color="#fff" verticalAlignment="center">
                        </Label>
                       
                    </StackLayout>
                    <Label col="2" class="fs-10" [text]="item.createdAt | dateFormat: 'fromNow'" horizontalAlignment="right" verticalAlignment="center">
                    </Label>
                </GridLayout>
            </ng-template>

            <ng-template nsTemplateKey="NO_ITEM" let-item="item">
                <StackLayout>
                </StackLayout>
            </ng-template>
        </ListView>
        <StackLayout row="2" style="color: white;">
            <GridLayout rows="auto" columns="*,*,*,*" class="tab-wrapper">
                <StackLayout col="0" class="symbol-text" (tap)="onClickPosts($event)">
                    <Image src="res://check" class="symbol-check"></Image>
                    <Label text="Posts"></Label>

                </StackLayout>
                <StackLayout col="1" class="symbol-text" (tap)="onClickDiscover($event)">
                    <Image src="res://trending" class="symbol-check"></Image>
                    <Label text="Discover"></Label>
                </StackLayout>
                <StackLayout col="2" class="active symbol-text" (tap)="onClickNotification($event)">
                    <Image src="res://notifications_active" class="symbol-check"></Image>
                    <Label text="Notifications"></Label>
                </StackLayout>
                <StackLayout col="3" class="symbol-text" (tap)="onClickUser($event)">
                    <Image src="res://user" class="symbol-check"></Image>
                    <Label text="Your Profile"></Label>
                </StackLayout>
            </GridLayout>

        </StackLayout>

    </GridLayout>
</StackLayout>
