<GridLayout backgroundSpanUnderStatusBar="true" backgroundColor="black">
     <ActionBar backgroundColor="Black" title="HEAT CITY"></ActionBar>
    <StackLayout orientation="vertical" backgroundColor="Black">
        <!-- rows       = "*, *, auto, auto, *, auto"
        columns    = "*" -->
        <!-- [gradient] = "'#EF0792'"
        [endColor] = "'#EF074A'"> -->

        <!-- <Label row="0" col="0" text=""></Label>
        <Label row="1" col="0" text=""></Label> -->

        <!-- <StackLayout
            row   = "2"
            col   = "0" -->
        <StackLayout height="16%"></StackLayout>

        <StackLayout class="title-stack" height="32%" orientation="vertical">
            <Image src="res://hc_logo" height="150" widht="150"></Image>
            <StackLayout height="4%"></StackLayout>
            <Label class="text-center login-text app-title" color="#648296">
                <FormattedString>
                    <!-- <Span text="heat" fontSize="32" fontAttributes="Bold"></Span> -->
                    <Span text="Heat" fontSize="17"></Span>
                    <Span text="City" fontSize="17"></Span>
                </FormattedString>
            </Label>
            <!-- <Label class="text-center login-text app-subtitle">
                <FormattedString>
                    <Span text="know " fontAttributes="Bold"></Span>
                    <Span text="before you "></Span>
                    <Span text="go" fontAttributes="Bold"></Span>
                </FormattedString>
            </Label> -->
        </StackLayout>

        <StackLayout height="22%"></StackLayout>

        <StackLayout row="3">
            <router-outlet></router-outlet>
        </StackLayout>

        <StackLayout orientation="vertical" class="term-and-cond">
            <Label class="color-lightgray-font">
              <FormattedString>
                  <Span text="By tapping Sign Up with Facebook. You agree to the"></Span>
              </FormattedString>
            </Label>
            <StackLayout orientation="horizontal" horizontalAlignment="center">
              <Label text=" Terms of Service" class="color-highlighted-font" (tap)="onTermsTap()"></Label>
              <Label text=" and" class="color-lightgray-font"></Label>
              <Label text=" Privacy Policy" class="color-highlighted-font" (tap)="onPrivacyTap()"></Label>
            </StackLayout>
        </StackLayout>


        <!-- <StackLayout height="2%"></StackLayout>


        <Label class="text-center" text="or sign up with email"
               color="white" [nsRouterLink]="['/signup']"></Label>

        <StackLayout height="8%"></StackLayout>

        <Label class="text-center" color="white" [nsRouterLink]="['/signin']">
            <FormattedString>
              <Span text="Already have an account?"></Span>
              <Span text="Sign In" underline="true"></Span>
            </FormattedString>
        </Label> -->

        <!--StackLayout row="5" class="login-footer">
            <Label
                text  = "By clicking 'Login with Facebook' you agree"
                class = "text-center login-text"></Label>
            <Label class="text-center login-text">
                <FormattedString>
                    <Span text="to the "></Span>
                    <Span text="Terms & Privacy Policy" fontAttributes="Bold"></Span>
                </FormattedString>
            </Label>
        </StackLayout-->
    </StackLayout>

    <AppNotificationsComponent width="100%" height="20%" verticalAlignment="top" [custom]="false" [name]="'login-notifications'">
    </AppNotificationsComponent>

    <!-- <Disconnection></Disconnection> -->
</GridLayout>
