.color-lightgray-font {
    color: #648296;
    font-size: 9;
}

.color-highlighted-font {
    color: #FF0784;
    font-size: 9;
}

.term-and-cond {
    text-align: center;
    vertical-align: center;
    padding: 0px;
    margin-top: 10px;
}

.login-text {
    color: white;
}

.title-stack {
    margin-top: 20px;
    margin-bottom: 20px;
}

.app-title {
    font-size: 32px;
    color: white;
}
.app-subtitle {
    font-size: 16px;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.login-footer {
    font-size: 13px;
    margin-bottom: 20px;
}

.login-container {
    animation-name: login;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes login {
    0% { opacity: 0; transform: translateY(-30)}
    100% { opacity: 1; transform: translateY(0)}
}
